<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>League:</b>
  <%= @team.league.name %>
</p>

<p>
  <b>Managers:</b>
  <%= @team.managers.collect {|manager| format_user_link(manager) }.join(", ").html_safe %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
