<h2 class="page-header">
  <% if @team.logo.present? %>
    <%= image_tag @team.logo_url(:thumbnail), :height => 50, :width => 50, :style => "float: left; margin-right: 10px" %>
  <% end %>
  <%= @team.name %>
  <small>(<%= link_to 'edit', edit_team_path(@team) %>)</small>
</h2>

<h3>Managers
  <% if can? :create, Invitation.new(:target => @team) %>
    <small>
      (<%= link_to 'invite', new_invitation_path(:predicate => :manage, :target_id => @team.to_param, :target_type => "Team") %>)
    </small>
  <% end %>
</h3>

<%= @team.managers.collect {|manager| format_user_link(manager) }.join(", ").html_safe %>

<br />

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', league_path(@team.league) %>
