<%= form_for([@team, @staff_member], :url => game_game_staff_members_path(@game, :team => @home_or_visiting)) do |f| %>
  <% if @staff_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staff_member.errors.count, "error") %> prohibited this staff member from being saved:</h2>

      <ul>
      <% @staff_member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :role %>
    <%= f.select :role, StaffMember::Roles.map {|r| [r.to_s.humanize, r]} %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>

