<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <h3><%= t("activerecord.values.authorization.role.manager").pluralize %></h3>
    <ul>
      <% @league.managers.order(:name).each do |manager| %>
        <li><%= manager.name %> (<%= format_user_link(manager) %>)</li>
      <% end %>
    </ul>

    <%= invitation_button(:manage, @league) %>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <h3><%= t("activerecord.values.authorization.role.marker").pluralize %></h3>
    <ul>
      <% @league.markers.order(:name).each do |marker| %>
        <li><%= marker.name %> (<%= format_user_link(marker) %>)</li>
      <% end %>
    </ul>

    <%= invitation_button(:mark, @league) %>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
  <h3><%= Official.model_name.humanize.pluralize %></h3>
    <ul>
      <% @league.officials.order(:name).each do |official| %>
        <li><%= official.name %></li>
      <% end %>
    </ul>

    <%= link_to t(".new_official"), new_league_official_path(@league), :class => "btn btn-default btn-sm" if can? :create, Invitation.new(:target => @league) %>
  </div>
</div>
