<h1>Leagues</h1>

<br />

<table class="table table-hover">
  <tr>
    <th style="width: 50px;">Logo</th>
    <th>Name</th>
    <th>Division</td>
    <th>Class</td>
    <th></th>
    <th></th>
  </tr>

<% @leagues.without_deleted.each do |league| %>
  <tr>
    <td><%= cl_image_tag(league.logo_url(:thumbnail)) if league.logo.present? %></td>
    <td><%= link_to league.name, league %></td>
    <td><%= t("league.divisions.#{league.division}") %>
    <td><%= t("league.classifications.#{league.classification}") %>
    <td><%= link_to 'Edit', edit_league_path(league) if can? :edit, league %></td>
    <td><%= link_to 'Delete', league, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, league %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New League', new_league_path, :class => "btn" %>
