<% title @league.name %>

<div class="row league-meta">
  <div class="col-xs-12 col-sm-4 photo">
    <%= image_tag(@league.logo_url(:medium)) %>
  </div>
  <div class="col-xs-12 col-sm-5 league-name">
    <h1>
      <%= @league.name %>
      <small style="white-space: nowrap;">
        <%= t(@league.division, :scope => "league.divisions") %>
        <%= t(@league.classification, :scope => "league.classifications") if @league.classification.present? %>
      </small>
    </h1>
    <%= format_team_link(@league) %>
  </div>
  <div class="col-xs-12 col-sm-3 buttons">
    <div class="text-right">
      <%= render partial: "follow_button", locals: { target: @league } %>
      <%= link_to t("actions.edit"), edit_league_path(@league), :class => "btn btn-default btn-sm" if can?(:edit, @league) %>
      <p></p>
    </div>
  </div>
</div>

<hr>

<%= javascript_tag do %>
  $(function() {
    $(".nav-tabs a").click(function(e) {
      e.preventDefault();
      $(this).tab("show");
    });
    $(".nav-tabs a:first").tab("show");
  });
<% end %>

<ul class="nav nav-tabs">
  <li><%= link_to ActivityFeedItem.model_name.human.pluralize, "#feed", :data => {:toggle => "tab" } %></li>
  <li><%= link_to Team.model_name.human.pluralize, "#teams", :data => {:toggle => "tab" } %></li>
  <li><%= link_to Game.model_name.human.pluralize, "#games", :data => {:toggle => "tab" } %></li>
  <li><%= link_to "#fans", :data => {:toggle => "tab" } do %>
    <%= t("header", :scope => "followers", :name => @league.name) %>
      <span class="badge"><%= @league.followers.count %></span>
    <% end %>
  </li>
  <li><%= link_to t(".staff_members"), "#staff", :data => {:toggle => "tab" } %></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active fade" id="feed">
    <%= render :partial => "activity_feed", :locals => { :feed_items => ActivityFeedItem.for(@league), :to => @league, :hide_header => true } %>
  </div>
  <div class="tab-pane fade" id="teams">
    <%= render :partial => "teams", :locals => { :teams => @league.teams } %>
  </div>
  <div class="tab-pane fade" id="games">
    <% new_game_path = new_league_game_path(@league) if can? :create, @league.games.build %>
    <%= render :partial => "games", :locals => { :games => @league.games, :compact => true, :hide_header => true, :new_game_path => new_game_path, :edit_path => proc {|game| edit_league_game_path(@league, game) } } %>
  </div>
  <div class="tab-pane fade" id="fans">
    <%= render :partial => "followers", :locals => {:target => @league, :hide_header => true } %>
  </div>
  <div class="tab-pane fade" id="staff">
    <%= render :partial => "staff_members" %>
  </div>
</div>

<p><br><%= link_to t("navigation.back_html"), root_path %></p>
