<h2 class="page-header">
  <% if @league.logo.present? %>
    <%= image_tag @league.logo_url(:thumbnail), :height => 50, :width => 50, :style => "float: left; margin-right: 10px" %>
  <% end %>
  <%= @league.name %>
  <small>(<%= link_to 'edit', edit_league_path(@league) %>)</small>
</h2>

<h3>Managers
<small>
  (<%= link_to 'invite', new_invitation_path(:predicate => :manage, :target_id => @league.to_param, :target_type => "League") %>)
</small>
</h3>

<%= @league.managers.collect {|manager| format_user_link(manager) }.join(", ").html_safe || "(none)" %>

<h3>Upcoming Games</h3>

<table class="table table-hover">
  <tr>
    <th>When</th>
    <th>Home Team</th>
    <th>Visting Team</th>
    <th>Location</th>
  </tr>

  <% Game.for_league(@league).upcoming.each do |game| %>
    <tr>
      <td><%= game.start %></td>
      <td><%= game.home_team.name %></td>
      <td><%= game.visiting_team.name %></td>
      <td><%= game.location.name %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Schedule a Game", new_league_game_path(@league), :class => "btn" %>

<h3>Teams</h3>

<table class="table table-hover">
  <tr>
    <th style="width: 50px;">Logo</th>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

  <% @league.teams.each do |team| %>
    <tr>
      <td><%= image_tag team.logo_url(:thumbnail), :height => 50, :width => 50 if team.logo.present? %></td>
      <td><%= link_to team.name, team %></td>
      <td><%= link_to 'Edit', edit_team_path(team) if can? :edit, team %></td>
      <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, team %></td>
    </tr>
  <% end %>
</table>

<%= link_to "New Team", new_league_team_path(@league), :class => "btn" %>

<%= link_to 'Back', leagues_path %>
