<%= javascript_tag do %>
  $(function() {
    $("form#new_user").validate({
      debug: true,
      onfocusout: function(element) { this.element(element); },
      onkeyup: function(element) { this.element(element); },
      rules: {
        "user[name]": "required",
        "user[email]": {
          required: true,
          email: true,
          remote: {
            url: "/users/email_available",
            type: "post"
          }
        },
        "user[password]": {
          required: true,
          minlength: 8
        },
        "user[system_name_attributes][name]": {
          required: true,
          minlength: 3,
          remote: {
            url: "/users/system_name_available",
            type: "post"
          }
        }
      },
      errorClass: "error help-inline",
      success: function(label, input) {
        label.html('<%= t("registrations.new.validation.looks_good") %>').addClass("help-inline");
      },
      messages: <%= raw I18n.t("registrations.new.validation.messages").to_json %>
    });
    if ($("form#new_user").valid()) {
      $("#user_system_name_attributes_name").focus();
    }
  });
<% end %>

<h2><%= t('.sign_up', :default => "Sign up") %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password, :value => resource.password %>
  </div>

  <%= f.fields_for :system_name do |ff| %>
    <div>
      <%= ff.label :name, t("registrations.new.choose_username") %>
      <%= ff.text_field :name %>
    </div>
  <% end %>

  <div><%= f.submit t('.sign_up', :default => "Sign up"), :class => "btn btn-primary" %></div>
<% end %>

<%= render "devise/shared/links" %>
