<div class="col-md-12">
  <div class="well search-results">
    <%= form_tag(search_index_path, :method => :get, :class => "form-search") do %>
      <div class="input-group">
          <%= text_field_tag :q, @query_text, :class => "form-control input-xlarge", :placeholder => t(".placeholder") %>
          <span class="input-group-btn">
            <%= submit_tag t(".search"), :class => "btn btn-default" %>
          </span>
      </div>
    <% end %>

    <h2><%= t(".title") %></h2>

    <% if @results.any? %>
      <% @results.each do |result| %>
        <% class_name = result.class.name.downcase %>
        <div class="row result <%= class_name %>">
          <div class="col-sm-8">
            <%= render :partial => class_name, :locals => {  class_name.to_sym => result } %>
          </div>
          <div class="col-sm-4 text-right">
            <%= render :partial => "follow_button", :locals => { :target => result } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p><%= t(".no_results") %></p>
    <% end %>
  </div>
</div>
