<div class="span6">
  <div class="well search-results">
    <%= form_tag(search_index_path, :method => :get, :class => "form-search") do %>
      <div class="input-append">
        <%= text_field_tag :q, @query_text, :class => "search-query input-xlarge", :placeholder => t(".placeholder") %>
        <%= submit_tag t(".search"), :class => "btn" %>
      </div>
    <% end %>

    <h2><%= t(".title") %></h2>

    <% if @results.any? %>
      <% @results.each do |result| %>
        <% class_name = result.class.name.downcase %>
        <div class="result <%= class_name %>">
          <%= render :partial => class_name, :locals => {  class_name.to_sym => result } %>
          <div class="pull-right">
            <%= render :partial => "follow_button", :locals => { :target => result } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p><%= t(".no_results") %></p>
    <% end %>
  </div>
</div>
