<%= form_for([@league, @game]) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :visiting_team %>
    <%= f.collection_select :visiting_team_id, @league.teams, :id, :full_name %>
  </div>

  <div class="field">
    <%= f.label :home_team %>
    <%= f.collection_select :home_team_id, @league.teams, :id, :full_name %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.collection_select :location_id, Location.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time, { :default => DateTime.now.at_beginning_of_hour + 7.days, :start_year => DateTime.now.year}, { :class => "span1" } %>
  </div>

  <fieldset class="period-lengths">
    <legend>Period Lengths</legend>
    <table>
      <thead>
        <tr>
          <% Game::Periods.each do |period| %>
            <th><%= period %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% Game::Periods.each_with_index do |period, index| %>
            <td>
              <input id="period_length_<%= index %>" type="number" min="0" max="60" name="game[period_minutes][]" value="<%= @game.period_minutes[index] %>">
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </fieldset>

  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
