<h2><%= @tournament.name %> - Games</h2>

<table class="table table-hover">
  <tr>
    <th>Status</th>
    <th>When</th>
    <th>Home Team</th>
    <th><i>vs</i></th>
    <th>Visting Team</th>
    <th>Location</th>
    <th>Score</th>
    <th />
  </tr>

  <% @tournament.games.scheduled_or_active.asc.each do |game| %>
    <tr>
      <td><%= link_to game.state.humanize, game %></td>
      <td><%= l game.start_time, :format => :game %></td>
      <td><%= link_to game.home_team.name, game.home_team %></td>
      <td></td>
      <td><%= link_to game.visiting_team.name, game.visiting_team %></td>
      <td><%= game.location.name %></td>
      <td><%= "#{game.home_team_score} - #{game.visiting_team_score}" if game.active? %></td>
      <td>
        <%= link_to "Change", edit_tournament_game_path(@tournament, game), :class => "btn" if game.scheduled? && can?(:edit, game) %>
        <%= link_to "Cancel", game, method: :delete, data: { confirm: 'Are you sure you want to cancel this game?' }, class: "btn" if (game.scheduled? && can?(:destroy, game)) %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "Schedule a New Game", new_tournament_game_path(@tournament), :class => "btn" %>

<h3 class="page-header">Past Games</h3>

<table class="table table-hover">
  <tr>
    <th>When</th>
    <th>Home Team</th>
    <th><i>vs</i></th>
    <th>Visting Team</th>
    <th>Location</th>
    <th>Score</th>
  </tr>

  <% @tournament.games.finished.desc.each do |game| %>
    <tr>
      <td><%= l game.start_time, :format => :game %></td>
      <td><%= game.home_team.name %></td>
      <td></td>
      <td><%= game.visiting_team.name %></td>
      <td><%= game.location.name %></td>
      <td><%= link_to "#{game.home_team_score} - #{game.visiting_team_score}", game_path(game, :format => :pdf) %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Back", @tournament %>
