<table>
  <% items.each do |item| %>
    <tr>
      <td style="vertical-align:top;padding-right:10px;">
        <%= item.respond_to?(:creator) && item.creator.avatar.present? ? cl_image_tag(item.avatar_url(:thumbnail)) : image_tag(attachments['avatar.png'].url) %>
      </td>
      <td>
        <% table_style = defined?(reply) && reply ? "width:100%;padding-bottom:10px;margin-bottom:10px;" : "width:100%;padding-bottom:10px;border-bottom:1px solid #cccccc;margin-bottom:10px;" %>
        <table style="<%= table_style %>">
          <tr>
            <td style="vertical-align:top;width:100%;">
              <% if item.respond_to?(:creator) %>
                <span style="font-weight: bold;"><%= item.creator.name %></span>
                <%= format_user_link(item.creator, {:only_path => false }, {:style => "text-decoration:none;color:#999999;" }) %>
              <% end %>
              <span style="color:#999999;"><%= timeago_tag item.created_at %></span>
              <% if item.game %>
                <small>
                  <i>in <%= link_to "#{item.game.home_team.name} vs. #{item.game.visiting_team.name}", game_path(item.game, :only_path => false), :style => "text-decoration:none;" %></i>
                </small>
              <% end %>
            </td>
          </tr>
          <tr>
            <td style="vertical-align:top;">
              <%= format_message_with_usernames(item.message, {:only_path => false}, {:style => "text-decoration:none;"}).html_safe %>
            </td>
          </tr>
          <% if item.videos.any? %>
            <tr>
              <td style="vertical-align:top;padding-top:10px;padding-bottom:10px;">
                <% item.videos.each do |video| %>
                  <%= link_to(image_tag(video.thumb_url), feed_item_url(item)) %>
                <% end %>
              </td>
            </tr>
          <% end %>
          <% if item.children.any? %>
            <tr>
              <td>
                <%= render :partial => "notification_mailer/feed_items", :locals => {:items => item.children.order(:created_at), :reply => true, :owner => defined?(owner) ? owner : nil } %>
              </td>
            </tr>
          <% end %>
          <% unless reply %>
            <tr>
              <td style="padding-top:10px;">
                <table>
                  <tr>
                    <td style="border-radius:3px;background-color:#428bca;color:white;padding:1px 5px;line-height:1.5;font-size:12px;">
                      <%= link_to(feed_item_url(item, :require_login => true), :style => "text-decoration:none;color:white;") do %>
                        <%= t("activity_feed.reply") %> <i class="icon-reply"></i>
                      <% end %>
                    </td>
                    <td style="border-radius:3px;background-color:#428bca;color:white;padding:1px 5px;line-height:1.5;font-size:12px;">
                      <%= link_to(feed_item_url(item), :style => "text-decoration:none;color:white;") do %>
                        <%= t("activity_feed.share") %> <i class="icon-reply"></i>
                      <% end %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          <% end %>
        </table>
      </td>
    </tr>
  <% end %>
</table>
