<!DOCTYPE html>

<html>
  <head>
    <title>BigShot.io</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
  </head>

  <body style="margin:0;padding:0;">

    <p><%= t("navigation.greeting") %>, <%= @user.name %>!</p>

    <p><%= t(".what_is_new_html", :link => link_to("BigShot.io", root_url, :style => "text-decoration:none;")) %></p>

    <table>
      <tbody>
        <% @items.each do |item| %>
          <%= render :partial => "feed_item", :locals => { :item => item } %>
        <% end %>
      </tbody>
    </table>

    <p><%= t(".to_see_or_reply_html", :link => link_to("BigShot.io", root_url, :style => "text-decoration:none;")) %></p>
  </body>
</html>

