<h2>Editing user profile for @<%= @user.name %>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user profile from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <%= f.hidden_field :avatar_cache %>

  <div class="form-group">
    <% if @user.avatar.present? %>
      <%= cl_image_tag @user.avatar_url(:thumbnail), :height => 50, :width => 50, :style => "float: left; margin-right: 10px" %>
    <% end %>

    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>

  <div class="form-group">
    <%= f.label :time_zone %>
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :default => "Eastern Time (US & Canada)" %>
  </div>

  <div class="form-group">
    <%= f.label :language %>
    <%= f.collection_select :language, [["Français", :fr], ["English", :en]], :second, :first %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>

