<div class="row">
  <div class="col-md-8">

    <h2><%= @user.name %></h2>

    <%= cl_image_tag(@user.avatar_url(:thumbnail), :height => 50, :width => 50, :style => "float: left; margin-right: 10px;") %>

    <%= format_user_link(@user) %>

    <%= render :partial => "follow_button", :locals => {:target => @user } %>

    <div class="clearfix"></div>

    <%= link_to("Edit", edit_user_path(@user), :class => "btn btn-default") if can? :edit, @user %>

    <%= render :partial => "activity_feed", :locals => {:feed_items => ActivityFeedItem.for(@user), :to => @user, :owner => @user } %>
  </div>
  <div class="col-md-4">
    <%= render :partial => "mini_sign_up" unless current_user %>
    <%= render :partial => "followers", :locals => {:target => @user } %>
    <%= render :partial => "followings", :locals => {:user => @user } %>
    <div class="well">
      <% if @user.authorizations.any? && (current_user && (@user == current_user || current_user.admin?))  %>
        <h3>Authorizations</h3>
        <ul>
          <% @user.authorizations.each do |auth| %>
            <li>
              <%= auth.role %>
              <% if auth.authorizable %>
                of <%= link_to auth.authorizable.name, auth.authorizable %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>


  </div>
</div>

