<%= form_for(@tournament) do |f| %>
  <% if @tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% @tournament.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :division %>
    <%= f.select :division, League::Divisions.map {|d| [t("league.divisions.#{d}"), d]} %>
  </div>

  <div class="field">
    <%= f.label :classification %>
    <%= f.select :classification, League::Classifications.map {|c| [t("league.classifications.#{c}"), c]}, :include_blank => true %>
  </div>

  <%= f.hidden_field :logo_cache %>

  <div class="field">
    <% if @tournament.logo.present? %>
      <%= image_tag @tournament.logo_url(:thumbnail), :height => 50, :width => 50, :style => "float: left; margin-right: 10px" %>
    <% end %>

    <%= f.label :logo %>
    <%= f.file_field :logo %>
  </div>

  <div>
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>

