<% title @tournament.name %>

<div class="row">
  <div class="span8">
    <h3>
      <%= Tournament.model_name.human %> - <%= @tournament.name %>
      <small>
        <%= t("league.divisions.#{@tournament.division}") %> <%= t("league.classifications.#{@tournament.classification}") %>
      </small>
      <%= link_to "<span class='icon-edit'>".html_safe, edit_tournament_path(@tournament), :class => "btn" if can? :edit, @tournament %>
    </h3>

    <%= format_team_link(@tournament) %><%= render :partial => "follow_button", :locals => {:target => @tournament } %>
<%
    cols = [:name, :rank,
            :num_games_played, :num_victories, :num_defeats, :num_overtime_and_shootout_defeats,
            :num_goals_scored, :num_goals_yielded, :points]
    stats = @tournament.teams.map {|team| Stats::Team.new(team, @tournament.games) }.sort_by {|obj| obj.points }.reverse
    last_points = 0
    last_rank = 1
%>

<h3>
  <%= t("activerecord.models.team").pluralize %>
  <%= link_to("<span class='icon-edit'>".html_safe, edit_tournament_teams_path(@tournament), :class => "btn") if can? :edit, @tournament %>
</h3>

<table class="team-stats table table-striped table-bordered">
  <%= format_header(cols, "stats.teams") %>

  <tbody>
    <% stats.each_with_index do |stat, index| %>
      <%= format_row(stat, cols) do |method, stat|
          case method
          when :rank
            if stat.points == last_points
              last_rank
            else
              last_rank = index + 1
            end
          when :name
            link_to(image_tag(stat.team.logo_url(:thumbnail)), stat.team) +
              link_to(content_tag(:div, content_tag(:div, stat.team.name) + content_tag(:div, stat.team.city)), stat.team)
          end
        end
      %>
      <% last_points = stat.points %>
    <% end %>
  </tbody>
</table>



  </div>


  <div class="span4">
    <% if current_user && current_user.manager_of?(@tournament) %>
      <div class="well">
        <h3>Control Panel</h3>
        <ul>
          <li><%= link_to "Manage Teams", edit_tournament_teams_path(@tournament) %></li>
          <li><%= link_to "Manage Officials", tournament_officials_path(@tournament) %></li>
          <li><%= link_to "Manage Games", tournament_games_path(@tournament) %></li>
        </ul>
      </div>
    <% end %>

    <div class="well" style="margin-top: 10px;">
      <h3 class="page-header">Managers <%= link_to("+", new_invitation_path(:predicate => :manage, :target_id => @tournament.to_param, :target_type => "Tournament"), :class => "btn") if can?(:manage, @tournament) %></h3>
      <%= @tournament.managers.collect {|manager| format_user_link(manager) }.join(", ").html_safe %>
    </div>

    <div class="well" style="margin-top: 10px;">
      <h3 class="page-header">Markers <%= link_to("+", new_invitation_path(:predicate => :mark, :target_id => @tournament.to_param, :target_type => "Tournament"), :class => "btn") if can?(:manage, @tournament) %></h3>
      <%= @tournament.markers.collect {|marker| format_user_link(marker) }.join(", ").html_safe %>
    </div>
  </div>

</div>

<div class="clearfix"></div>

<%= render :partial => "games", :locals => {:games => @tournament.games.order(:start_time) } %>

<%= render :partial => "activity_feed", :locals => {:activity_feed_items => @tournament.activity_feed_items } %>

<div style="margin-top: 10px;">
  <%= link_to "Back", :back %>
</div>

