<% title @tournament.name %>

<div class="row meta">
  <div class="col-xs-8 col-md-9">
    <h1><%= @tournament.name %></h1>
    <h2>
      <%= t("league.divisions.#{@tournament.division}") %>
      <%= t("league.classifications.#{@tournament.classification}") %>
    </h2>
    <p><%= format_team_link(@tournament) %></p>
    <p>
      <%= @tournament.locations.map(&:name).sort.join(", ") %>
      <br>
      <% if @tournament.games.any? %>
        <%= l @tournament.start_date %> - <%= l @tournament.end_date %>
      <% end %>
    </p>
  </div>
  <div class="col-xs-4 col-md-3">
    <div class="buttons text-right">
      <%= render :partial => "follow_button", :locals => {:target => @tournament } %>
      <%= link_to t("actions.edit"), edit_tournament_path(@tournament), :class => "btn btn-default btn-sm" if can? :edit, @tournament %>
    </div>
  </div>
</div>

<hr>

<%= javascript_tag do %>
  $(function() {
    $(".nav-tabs a").click(function(e) {
      e.preventDefault();
      $(this).tab("show");
    });
    $(".nav-tabs a:first").tab("show");
  });
<% end %>

<ul class="nav nav-tabs">
  <li><%= link_to ActivityFeedItem.model_name.human.pluralize, "#feed", :data => {:toggle => "tab" } %></li>
  <li><%= link_to Team.model_name.human.pluralize, "#teams", :data => {:toggle => "tab" } %></li>
  <li><%= link_to Game.model_name.human.pluralize, "#games", :data => {:toggle => "tab" } %></li>
  <li><%= link_to t("header", :scope => "followers", :name => @tournament.name), "#fans", :data => {:toggle => "tab" } %></li>
  <li><%= link_to t(".staff"), "#staff", :data => {:toggle => "tab" } %></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active fade" id="feed">
    <%= render :partial => "activity_feed", :locals => { :feed_items => @tournament.activity_feed_items, :to => @tournament, :hide_header => true } %>
  </div>
  <div class="tab-pane fade" id="teams">
    <%= render :partial => "teams" %>
  </div>
  <div class="tab-pane fade" id="games">
    <%= render :partial => "games", :locals => { :games => @tournament.games,
                                                 :show_game_number => true, :compact => true, :hide_header => true,
                                                 :new_game_path => new_tournament_game_path(@tournament),
                                                 :edit_path => proc {|game| edit_tournament_game_path(@tournament, game) }  } %>
  </div>
  <div class="tab-pane fade" id="fans">
    <%= render :partial => "followers", :locals => {:target => @tournament } %>
  </div>
  <div class="tab-pane fade" id="staff">
    <%= render :partial => "staff" %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= render :partial => "mini_sign_up" unless current_user %>
  </div>
</div>

<div>
  <p>
    <br>
    <%= link_to t("navigation.back_html"), root_path %>
  </p>
</div>

