<h2><%= t(".header") %></h2>

<div class="well well-large video-box">
  <h3>
    <%= format_message_with_usernames(@video.feed_item.message).html_safe %>
    <% if can? :destroy, @video %>
      <small>
        <%= link_to "Destroy", @video, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini" %>
      </small>
    <% end %>
  </h3>

  <video src="<%= @video.file_url %>" controls autoplay style="height: <%= @video.file_height %>px; width: <%= @video.file_width %>px;"></video>

  <div class="share-links">
    <div class="fb-share-button" data-type="box_count" <%= "data-href=https://bigshot.io/videos/1" if Rails.env.development? %>></div>
  </div>

  <div class="metadata">
    <%= Game.human_attribute_name(:period) %> <%= Game::Periods[@goal.period] %> <%= Timer.to_hms(@goal.elapsed_time) %>
    <br />
    <%= link_to @game.visiting_team.full_name, @game.visiting_team %> vs. <%= link_to @game.home_team.full_name, @game.home_team %> <%= link_to t("games.see_game"), @game, :class => "btn btn-mini" %>
    <br />
    <%= @game.number.present? ? "##{@game.number}" : "" %> in <%= format_team_link(@game.league) %>
    <br />
    <%= l @game.start_time, :format => :game %>
    <br />
    <%= format_team_link(@game.location) %>
  </div>
</div>
