<% title(@video.feed_item.message) %>

<div class="well well-large video-box">
  <div class="metadata">
    <div class="visiting team">
      <div class="name-block">
        <%= @game.visiting_team.name %><br />
        <%= @game.visiting_team.city %><br />
      </div>
      <%= image_tag @game.visiting_team.logo_url(:thumbnail) %>
    </div>
    <div class="vs">vs</div>
    <div class="home team">
      <%= image_tag @game.home_team.logo_url(:thumbnail) %>
      <div class="name-block">
        <%= @game.home_team.name %><br />
        <%= @game.home_team.city %><br />
      </div>
    </div>
  </div>

  <% if current_user %>
    <div class="video-container">
      <video src="<%= @video.file_url %>" preload></video>
      <div class="play-button"></div>
    </div>
    <%= javascript_tag do %>
      $(function() {
        var started = false;
        $("video").click(function() {
          this.play();
          $(this).off("click");
          $(this).attr("controls", true);
          $(".play-button").hide();
          started = true;
          return false;
        });
        $("video").on("canplaythrough", function() {
          if (!started) {
            $(".play-button").show();
            started = true;
          }
        });
      });
    <% end %>
  <% else %>
    <div class="video-poster" onclick="document.location='<%= new_user_session_path %>'">
      <div class="logo-overlay"></div>
      <%= image_tag @video.poster_url, :class => "poster" %>
      <p><%= t("videos.show.sign_in_to_view") %></p>
    </div>
  <% end %>

  <ul class="share-links">
    <li>
      <div class="fb-share-button" data-type="box_count" <%= "data-href=https://bigshot.io/" if Rails.env.development? %>></div>
    </li>
    <li>
      <a href="https://twitter.com/share" class="twitter-share-button" data-lang="<%= I18n.locale %>" data-count="vertical">Tweet</a>
    </li>
  </ul>

  <h4>
    <%= format_message_with_usernames(@video.feed_item.message).html_safe %>
    <% if can? :destroy, @video %>
      <small>
        <%= link_to "Destroy", @video, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" %>
      </small>
    <% end %>
  </h4>

</div>

<% content_for(:head) do %>
  <meta property="fb:app_id" content="501253019996420">
  <meta property="og:site_name" content="BigShot">
  <meta property="og:description" content="<%= @video.feed_item.message %>">
  <meta property="og:title" content="Goal!">
  <meta property="og:image" content="<%= @video.poster_url %>">
<% end %>
