<% if games.without_deleted.any? %>
  <h3>Games</h3>
  <table class="games table table-hover">
    <tr>
      <th>Date</th>
      <th></th>
      <th>Visitor</th>
      <th></th>
      <th>Home</th>
      <th></th>
      <th>Period</th>
      <th>Location</th>
      <th></th>
    </tr>

    <% games.without_deleted.each do |game| %>
      <tr <%= "style='font-weight: bold;" if game.live? %> >
        <td><%= l game.start_time, :format => :game %></td>
        <td class="visitor-name"><%= format_team_link(game.visiting_team) %></td>
        <td><%= link_to(image_tag(game.visiting_team.logo_url(:thumbnail)), game.visiting_team) %></td>
        <td class="score">
          <%= link_to game do %>
            <% if game.scheduled? %>
              <i>vs</i>
            <% else %>
              <%= "#{game.visiting_team_score}&nbsp;-&nbsp;#{game.home_team_score}".html_safe %>
            <% end %>
          <% end %>
        </td>
        <td><%= link_to(image_tag(game.home_team.logo_url(:thumbnail)), game.home_team) %></td>
        <td><%= format_team_link(game.home_team) %></td>
        <td><%= game.period_text %></td>
        <td>
          <%= link_to game.location.name, game.location %>
          <%= link_to game.location.map_url, :target => "_blank" do %>
            <%= image_tag "google-maps-icon-blank.svg", :class => "map-icon", :target => "_blank" %>
          <% end %>
        </td>
        <td style="text-align: right;"><%= link_to "See game", game, :class => "btn" %></td>
      </tr>
    <% end %>
  </table>
<% end %>
