<% if games.active.any? %>
  <h3 class="page-header">Current Games <small>these games are being played right now</small></h3>
  <table class="table table-hover">
    <tr>
      <th>Started</th>
      <th>Teams</th>
      <th>Location</th>
      <th>Score</th>
      <th></th>
    </tr>

    <% games.active.desc.each do |game| %>
      <tr>
        <td><%= distance_of_time_in_words_to_now(game.start_time) %> ago</td>
        <td>@<%= link_to game.home_team.name, game.home_team %> <i>vs</i> @<%= link_to game.visiting_team.name, game.visiting_team %></td>
        <td><%= game.location.name %></td>
        <td><%= "#{game.home_team_score} - #{game.visiting_team_score}" %></td>
        <td style="text-align: right;"><%= link_to "See game", game, :class => "btn" %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<% if games.upcoming.any? %>
  <h3 class="page-header">Coming Games <small>these games are scheduled to start soon</small></h3>
  <table class="table table-hover">
    <tr>
      <th>Started</th>
      <th>Teams</th>
      <th>Location</th>
      <th></th>
      <th></th>
    </tr>

    <% games.scheduled.asc.each do |game| %>
      <tr>
        <td>in <%= distance_of_time_in_words_to_now(game.start_time) %></td>
        <td>@<%= link_to game.home_team.name, game.home_team %> <i>vs</i> @<%= link_to game.visiting_team.name, game.visiting_team %></td>
        <td><%= game.location.name %></td>
        <td></td>
        <td style="text-align: right;"><%= link_to "See game", game, :class => "btn" %></td>
      </tr>
    <% end %>
  </table>
<% end %>

