<div class="row">
  <div class="span8">
    <%= render :partial => "invitations" %>
    <%= render :partial => "claims" %>
    <%= render :partial => "orientation" %>
    <%= render :partial => "tournaments", :locals => {:tournaments => Tournament } %>
  </div>
  <div class="span4">
    <%= render :partial => "players" %>
    <%= render :partial => "authorizations" %>
    <%= render :partial => "admin" if current_user.admin? %>
    <%= render :partial => "followers", :locals => {:target => current_user } %>
    <%= render :partial => "followings", :locals => {:user => current_user } %>
  </div>
</div>

<%= render :partial => "games", :locals => {:games => Game.for_user(current_user).recent, :reverse => true } %>
<%= render :partial => "activity_feed", :locals => { :feed_items => ActivityFeedItem.for_user(current_user) } %>
