<%= render :partial => "invitations" %>
<%= render :partial => "claims" %>
<%= render :partial => "orientation" %>

<div class="row tiles">
  <%= render :partial => "players" %>
  <%= render :partial => "teams", :locals => { :teams => current_user.teams } %>
  <%= render :partial => "leagues", :locals => { :leagues => current_user.leagues } %>
  <%= render :partial => "locations", :locals => { :locations => current_user.locations } %>
</div>

<%= javascript_tag do %>
  $(function() {
    $(".nav-tabs a:first").tab("show");
  });
<% end %>

<div class="row main">
  <div class="col-xs-12">
    <ul class="nav nav-tabs">
      <li><%= link_to ActivityFeedItem.model_name.human.pluralize, "#feed", :data => {:toggle => "tab" } %></li>
      <li><%= link_to Game.model_name.human.pluralize, "#games", :data => {:toggle => "tab" } %></li>
      <li><%= link_to t("home.index.fans_of"), "#followings", :data => {:toggle => "tab" } %></li>
      <li><%= link_to "#fans", :data => {:toggle => "tab" } do %>
      <%= t("home.index.your_fans") %>
      <span class="badge"><%= current_user.followers.count %></span>
    <% end %>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active fade" id="feed">
        <%= render :partial => "activity_feed", :locals => { :feed_items => ActivityFeedItem.for_user(current_user), :owner => current_user, :hide_header => true } %>
      </div>
      <div class="tab-pane fade" id="games">
        <%= render :partial => "games", :locals => { :games => Game.for_user(current_user), :compact => true, :hide_header => true, :reverse => true } %>
      </div>
      <div class="tab-pane fade" id="followings">
        <%= render :partial => "followings", :locals => {:user => current_user } %>
      </div>
      <div class="tab-pane fade" id="fans">
        <%= render :partial => "followers", :locals => {:target => current_user, :hide_header => true } %>
      </div>
    </div>
  </div>
</div>
