<h2 class="page-header">Claim Account</h2>

<p>Welcome! To get started:</p>
<ul>
  <li>Choose a @username or accept the one provided below.</li>
  <li>Set your account password.</li>
</ul>

<%= form_for(@invitation.user, :url => update_fake_user_invitation_path(@invitation)) do |f| %>
  <% if @invitation.user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invitation.user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @invitation.user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <div class="input-prepend">
      <span class="add-on">@</span>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
