<h2><%= t("invitation.header") %></h2>

<p><%= t("invitation.prompt", {:predicate => @invitation.predicate, :target_name => @invitation.target.name }) %></p>

<%= form_for @invitation do |f| %>
  <% if @invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being created:</h2>

      <ul>
      <% @invitation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
    <%= f.text_field :username_or_email, :autofocus => true %>
    <%= f.hidden_field :predicate, :value => @invitation.predicate %>
    <%= f.hidden_field :target_id, :value => @invitation.target.to_param %>
    <%= f.hidden_field :target_type, :value => @invitation.target.class.to_s %>
    <% if params[:back_to] %>
      <%= hidden_field_tag :back_to, params[:back_to] %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
