<h1><%= t(".header") %></h1>

<%= form_for @contact do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <%= t("forms.errors.header", :errors => pluralize(@contact.errors.count, t("forms.errors.error"))) %>
      </div>
      <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => "control-label" %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => "control-label" %>
    <%= f.text_field :email, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :subject, :class => "control-label" %>
    <%= f.select :subject, Contact::Subjects.map {|s| [t(s, :scope => "contacts.new.subjects"), s] }, {:prompt => true}, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :message, :class => "control-label" %>
    <%= f.text_area :message, :class => "form-control", :rows => 8 %>
  </div>

  <%= f.submit t(".submit"), :class => "btn btn-primary" %>

<% end %>
