<div class="well">
  <ul class="unstyled">
    <%= checklist_item(:officials_checked_in?, "Check-in Game Officials", edit_game_game_officials_path(@game)) %>
    <%= checklist_item(:home_team_players_checked_in?, "Check-in players for #{@game.home_team.name}", edit_game_roster_path(@game, :team => :home)) %>
    <%= checklist_item(:home_team_staff_checked_in?, "Check-in staff for #{@game.home_team.name}", edit_game_game_staff_members_path(@game, :team => :home)) %>
    <%= checklist_item(:visiting_team_players_checked_in?, "Check-in players for #{@game.visiting_team.name}", edit_game_roster_path(@game, :team => :visiting)) %>
    <%= checklist_item(:visiting_team_staff_checked_in?, "Check-in staff for #{@game.visiting_team.name}", edit_game_game_staff_members_path(@game, :team => :visiting)) %>
  </ul>

  <% if @game.ready_to_activate? %>
    <p>The checklist items above all appear to be complete! To activate the game, press the button below.</p>
  <% else %>
    <p>Please complete the remaining items above to activate the game.</p>
  <% end %>

  <div class="actions">
    <%= link_to "Cancel Game", game_path(@game), :class => "btn btn-danger", :method => :delete, :confirm => "Do you want to cancel this game?" %>
    <%= link_to "Activate Game", activate_game_path(@game), :class => "btn btn-primary", :method => :post if @game.ready_to_activate? %>
  </div>
</div>
