<div id=<%= "#{home_or_visiting}-team" %> class="team-box span6">
  <div class="well well-large">
    <h3>
      <%= image_tag team.logo_url(:medium), :height => 100, :width => 100, :style => "float: left; margin-right: 10px; margin-bottom: 10px;" %>
      <span class="team-name"><%= team.name %></span>
      <span class="score pull-right"></span>
    </h3>

    <a href="#" class="btn add-goal" title-"Add Goal"><i class="icon-plus"></i></a>
    <a href="#" class="btn add-penalty" title="Add Penalty"><i class="icon-flag"></i></a>
    <a href="#" class="btn edit-roster" title="Edit Team Roster" ><i class="icon-male"></i></a>

    <div class="goal-editor modal hide fade">
      <div class="modal-header"><h3>Goal for <%= team.name %></h3></div>
      <div class="modal-body">
        <div class="goal-player">
          <select></select>
        </div>

        <div class="goal-assist">
          <select></select>
        </div>

        <div class="goal-secondary-assist">
          <select></select>
        </div>
      </div>

      <div class="modal-footer">
        <%= link_to "Cancel", "#", :class => "cancel" %>
        <%= link_to "Save", "#", :class => "save btn btn-primary" %>
      </div>

    </div>

    <div class="penalty-editor modal hide fade">
      <div class="modal-header"><h3>Penalty for <%= team.name %></h3></div>
      <div class="modal-body">
        <div class="penalty-player">
          <select name="player"></select>
        </div>
        <div class="penalty-serving-player">
          <select name="player-serving"></select>
        </div>
        <div class="penalty-category">
          <select>
            <option value="" selected disabled>Type of penalty</option>
            <% Penalty::Infractions.keys.each do |category| %>
              <option value="<%= category %>"><%= category.to_s.humanize %></option>
            <% end %>
          </select>
        </div>
        <div class="penalty-infraction">
          <select></select>
        </div>
        <div class="penalty-minutes">
          <input type="number" placeholder="Penalty minutes" min="0" max="60" step="1"></input>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to "Cancel", "#", :class => "cancel" %>
        <%= link_to "Save", "#", :class => "save btn btn-primary" %>
      </div>
    </div>

    <table class="penalties table">
      <thead>
        <tr>
          <th>Per</th>
          <th>Time</th>
          <th>Plyr</th>
          <th>Srv</th>
          <th>Cat</th>
          <th>Infraction</th>
          <th>State</th>
          <th></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <table class="goals table">
      <thead>
        <tr>
          <th>Period</th>
          <th>Time</th>
          <th>Player</th>
          <th>Assist</th>
          <th>Assist</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <div id="<%= home_or_visiting %>-team-roster-editor" data-remote="<%= edit_game_roster_path(@game, :team => home_or_visiting) %>" class="roster modal hide fade">
      <div class="modal-header"><h3>Select players for <%= team.name %></h3></div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <%= link_to "Cancel", "#", :class => "cancel" %>
        <%= link_to "Save", "#", :class => "save btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<script type="text/html" id="penalty-view">
<td>{{= App.periods[period] }}</td>
<td>{{= App.displaySeconds(elapsed_time) }}</td>
<td>{{= App.players.get(player_id).get("jersey_number") }}</td>
<td>{{= App.players.get(serving_player_id).get("jersey_number") }}</td>
<td>{{= App.humanize(category) }}</td>
<td>{{= App.humanize(infraction) }}</td>
<td>{{= App.humanize(state) }}</td>
<td class="timer" style="white-space: nowrap"></td>
<td style="white-space: nowrap">
  <%= link_to "#", :class => "start btn btn-small btn-success" do %>
    <i class="icon-play"></i>
  <% end %>
  <%= link_to "#", :class => "edit btn btn-small" do %>
    <i class="icon-edit"></i>
  <% end %>
  <%= link_to "#", :class => "delete btn btn-small btn-danger" do %>
    <i class="icon-remove"></i>
  <% end %>
</td>
</script>

<script type="text/html" id="goal-view">
<td>{{= App.periods[period] }}</td>
<td>{{= App.displaySeconds(elapsed_time) }}</td>
<td>{{= jersey_numbers[0] }}</td>
<td>{{= jersey_numbers[1] }}</td>
<td>{{= jersey_numbers[2] }}</td>
<td>
  <%= link_to "#", :class => "edit btn btn-small" do %>
    <i class="icon-edit"></i>
  <% end %>
  <%= link_to "#", :class => "delete btn btn-small btn-danger" do %>
    <i class="icon-remove"></i>
  <% end %>
</td>
</script>
