<div id=<%= "#{home_or_visiting}-team" %> class="team-box span6">
  <div class="well well-large">
    <h3>
      <%= image_tag team.logo_url(:medium), :height => 100, :width => 100, :style => "float: left; margin-right: 10px; margin-bottom: 10px;" %>
      <span class="team-name"><%= team.name %></span>
      <span class="score pull-right"></span>
    </h3>

    <% if can? :mark, @game %>
      <a href="#" class="btn add-goal" title-"Add Goal"><i class="icon-plus"></i></a>
      <a href="#" class="btn edit-roster" title="Edit Team Roster" ><i class="icon-male"></i></a>
      <a href="#" class="btn choose-goalie" title="Choose Goalie"><%= image_tag("goalie.svg", :style => "width: 16px; height: 18px;") %></a>
      <a href="#" class="btn swap" title="Switch Home/Visiting Positions"><i class="icon-refresh"></i></a>

      <span class="goalie pull-right"></span>

      <div data-remote="<%= new_game_game_goalie_path(@game, :team => home_or_visiting) %>" class="goalie-chooser modal hide fade">
        <div class="modal-header"><h3>Choose goalie for <%= team.name %></h3></div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <%= link_to "Cancel", "#", :class => "cancel" %>
          <%= link_to "Save", "#", :class => "save btn btn-primary" %>
        </div>
      </div>

      <div data-remote="<%= edit_game_roster_path(@game, :team => home_or_visiting) %>" class="roster modal hide fade">
        <div class="modal-header"><h3>Select players for <%= team.name %></h3></div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <%= link_to "New Player", "#", :class => "create btn pull-left" %>
          <%= link_to "Cancel", "#", :class => "cancel" %>
          <%= link_to "Save", "#", :class => "save btn btn-primary" %>
        </div>
      </div>

      <div data-remote="<%= new_team_player_path(team) %>" class="player modal hide fade">
        <div class="modal-header"><h3>Create new player for <%= team.name %></h3></div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <%= link_to "Cancel", "#", :class => "cancel" %>
          <%= link_to "Create", "#", :class => "create btn btn-primary" %>
        </div>
      </div>

      <div class="goal-editor modal hide">
        <div class="modal-header"><h3>Goal for <%= team.name %></h3></div>
        <div class="modal-body">
          <div class="goal-advantage">
            <select><%= options_for_select(Hash[Goal::Advantages.map {|k,v| [k, t("activerecord.values.goal.advantage.#{v}")] }].invert) %></select>
          </div>

          <div class="goal-player">
            <select class="player"></select>
          </div>

          <div class="goal-assist">
            <select class="player"></select>
          </div>

          <div class="goal-secondary-assist">
            <select class="player"></select>
          </div>
        </div>

        <div class="modal-footer">
          <%= link_to "Cancel", "#", :class => "cancel" %>
          <%= link_to "Save", "#", :class => "save btn btn-primary" %>
        </div>

      </div>

    <% end %>

    <div class="clearfix"></div>

    <div class="tabbable penalties">
      <ul class="nav nav-tabs">
        <li><a href="#penalties-<%= home_or_visiting %>-all" data-toggle="tab"><%= t "penalties.labels.all" %> <span class="badge badge-info count"><span></a></li>
        <li><a href="#penalties-<%= home_or_visiting %>-current" class="current" data-toggle="tab"><%= t "penalties.labels.current" %> <span class="badge badge-info count"></span></a></li>
        <li><a href="#penalties-<%= home_or_visiting %>-expired" data-toggle="tab"><%= t "penalties.labels.completed" %> <span class="badge badge-info count"></span></a></li>
        <li><a href="#penalties-<%= home_or_visiting %>-other" data-toggle="tab"><%= t "penalties.labels.other"%> <span class="badge badge-info count"></span></a></li>
      </ul>

      <div class="tab-content">

        <% ["all", "current", "expired", "other"].each do |category| %>

          <div class="tab-pane fade <%= category == "all" ? "active in" : "" %>" id="<%= "penalties-#{home_or_visiting}-#{category}" %>">
            <table class="penalties table <%= category %>">
              <thead>
                <tr>
                  <th>Per</th>
                  <th>Time</th>
                  <th>Plyr</th>
                  <th>Infraction</th>
                  <th>State</th>
                  <th></th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        <% end %>
      </div>
    </div>

    <h3 class="disclosure"><i></i> Goals</h3>
    <div class="hide">
      <table class="goals table">
        <thead>
          <tr>
            <th>Period</th>
            <th>Time</th>
            <th>Players</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>

</div>


