<div id=<%= "#{home_or_visiting}-team" %> class="team-box span6" data-team-id="<%= @game.send("#{home_or_visiting}_team_id") %>">
  <div class="well well-large">
    <h3>
      <span class="team-name"><%= @game.send("#{home_or_visiting}_team").name %></span>
      <a href="#" class="btn add-goal" >
        <span class="score"><%= @game.send("#{home_or_visiting}_team_score") %></span>
        <i class="icon-caret-down"></i>
      </a>
      <a href="#" title="Add Penalty" class="btn add-penalty"><i class="icon-flag"></i></a>
      <a class="btn" title="Edit Team Roster" href="<%= edit_game_roster_path(@game, :team => home_or_visiting) %>"><i class="icon-male"></i></a>
    </h3>

    <div class="goal-editor" style="display:none;">
      <form>
        <div class="goal-player">
          <select></select>
        </div>

        <div class="goal-assist">
          <select></select>
        </div>

        <div class="goal-secondary-assist">
          <select></select>
        </div>

        <%= link_to "Cancel", "#", :class => "goal-cancel" %>
        <%= submit_tag "Save", :class => "btn btn-small btn-primary" %>

      </form>
    </div>

    <div class="penalty-editor" style="display:none;">
      <form>
        <div class="penalty-player">
          <select name="player"></select>
        </div>
        <div class="penalty-serving-player">
          <select name="player-serving"></select>
        </div>
        <div class="penalty-category">
          <select>
            <option value="" selected disabled>Type of penalty</option>
            <% Penalty::Infractions.keys.each do |category| %>
              <option value="<%= category %>"><%= category.to_s.humanize %></option>
            <% end %>
          </select>
        </div>
        <div class="penalty-infraction">
          <select></select>
        </div>
        <div class="penalty-minutes">
          <input type="number" placeholder="Penalty minutes" min="0" max="60" step="1"></input>
        </div>

        <div>
          <%= link_to "Cancel", "#", :class => "cancel" %>
          <input type="submit" class="btn btn-primary" value="Save"></input>
        </div>
      </form>
    </div>
    <table class="penalties table">
    </table>
  </div>
</div>

