<div id=<%= "#{home_or_visiting}-team" %> class="team-box span6">
  <div class="well well-large">
    <h3>
      <%= image_tag team.logo_url(:medium), :height => 100, :width => 100, :style => "float: left; margin-right: 10px; margin-bottom: 10px;" %>
      <span class="team-name"><%= team.name %></span>
      <span class="score pull-right"></span>
    </h3>

    <a href="#" class="btn add-goal" title-"Add Goal"><i class="icon-plus"></i></a>
    <a href="#" class="btn add-penalty" title="Add Penalty"><i class="icon-flag"></i></a>
    <a href="#" class="btn edit-roster" title="Edit Team Roster" ><i class="icon-male"></i></a>

    <div class="goal-editor modal hide fade">
      <div class="modal-header"><h3>Goal for <%= team.name %></h3></div>
      <div class="modal-body">
        <div class="goal-player">
          <select></select>
        </div>

        <div class="goal-assist">
          <select></select>
        </div>

        <div class="goal-secondary-assist">
          <select></select>
        </div>
      </div>

      <div class="modal-footer">
        <%= link_to "Cancel", "#", :class => "cancel" %>
        <%= link_to "Save", "#", :class => "save btn btn-primary" %>
      </div>

    </div>

    <div class="penalty-editor modal hide fade">
      <div class="modal-header"><h3>Penalty for <%= team.name %></h3></div>
      <div class="modal-body">
        <div class="penalty-player">
          <select name="player"></select>
        </div>
        <div class="penalty-serving-player">
          <select name="player-serving"></select>
        </div>
        <div class="penalty-category">
          <select>
            <option value="" selected disabled>Type of penalty</option>
            <% Penalty::Infractions.keys.each do |category| %>
              <option value="<%= category %>"><%= category.to_s.humanize %></option>
            <% end %>
          </select>
        </div>
        <div class="penalty-infraction">
          <select></select>
        </div>
        <div class="penalty-minutes">
          <input type="number" placeholder="Penalty minutes" min="0" max="60" step="1"></input>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to "Cancel", "#", :class => "cancel" %>
        <%= link_to "Save", "#", :class => "save btn btn-primary" %>
      </div>
    </div>

    <div style="clear: both;">
      <h3 class="disclosure"><i></i> Penalties</h3>
      <div class="hide">
        <table class="penalties table">
          <thead>
            <tr>
              <th>Per</th>
              <th>Time</th>
              <th>Plyr</th>
              <th>Infraction</th>
              <th>State</th>
              <th></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      <h3 class="disclosure"><i></i> Goals</h3>
      <div class="hide">
        <table class="goals table">
          <thead>
            <tr>
              <th>Period</th>
              <th>Time</th>
              <th>Players</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>

    <div data-remote="<%= edit_game_roster_path(@game, :team => home_or_visiting) %>" class="roster modal hide fade">
      <div class="modal-header"><h3>Select players for <%= team.name %></h3></div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <%= link_to "New Player", "#", :class => "create btn pull-left" %>
        <%= link_to "Cancel", "#", :class => "cancel" %>
        <%= link_to "Save", "#", :class => "save btn btn-primary" %>
      </div>
    </div>

    <div data-remote="<%= new_team_player_path(team) %>" class="player modal hide fade">
      <div class="modal-header"><h3>Create new player for <%= team.name %></h3></div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <%= link_to "Cancel", "#", :class => "cancel" %>
        <%= link_to "Create", "#", :class => "create btn btn-primary" %>
      </div>
    </div>
  </div>
</div>


