<div id=<%= "#{home_or_visiting}-team" %> class="team-box span6">
  <div class="well well-large">
    <h3>
      <%= image_tag team.logo_url(:medium), :height => 100, :width => 100, :style => "float: left; margin-right: 10px; margin-bottom: 10px;" %>
      <span class="team-name"><%= team.name %></span>
      <a href="#" class="btn add-goal" >
        <span class="score"></span>
        <i class="icon-caret-down"></i>
      </a>
      <a href="#" title="Add Penalty" class="btn add-penalty"><i class="icon-flag"></i></a>
      <a class="btn" title="Edit Team Roster" href="<%= edit_game_roster_path(@game, :team => home_or_visiting) %>"><i class="icon-male"></i></a>
    </h3>

    <div class="goal-editor modal hide fade">
      <div class="modal-header"><h3>Goal for <%= team.name %></h3></div>
      <div class="modal-body">
        <div class="goal-player">
          <select></select>
        </div>

        <div class="goal-assist">
          <select></select>
        </div>

        <div class="goal-secondary-assist">
          <select></select>
        </div>
      </div>

      <div class="modal-footer">
        <%= link_to "Cancel", "#", :class => "cancel" %>
        <%= link_to "Save", "#", :class => "save btn btn-primary" %>
      </div>

    </div>

    <div class="penalty-editor modal hide fade">
      <div class="modal-header"><h3>Penalty for <%= team.name %></h3></div>
      <div class="modal-body">
        <div class="penalty-player">
          <select name="player"></select>
        </div>
        <div class="penalty-serving-player">
          <select name="player-serving"></select>
        </div>
        <div class="penalty-category">
          <select>
            <option value="" selected disabled>Type of penalty</option>
            <% Penalty::Infractions.keys.each do |category| %>
              <option value="<%= category %>"><%= category.to_s.humanize %></option>
            <% end %>
          </select>
        </div>
        <div class="penalty-infraction">
          <select></select>
        </div>
        <div class="penalty-minutes">
          <input type="number" placeholder="Penalty minutes" min="0" max="60" step="1"></input>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to "Cancel", "#", :class => "cancel" %>
        <%= link_to "Save", "#", :class => "save btn btn-primary" %>
      </div>
    </div>

    <table class="penalties table">
    </table>

  </div>
</div>

