<div id=<%= "#{home_or_visiting}-team" %> class="team-box span6">
  <div class="well well-large">
    <h3>
      <span class="team-name"><%= @game.send("#{home_or_visiting}_team").name %></span>
      <a href="#" class="btn add-goal" data-team-id="<%= @game.send("#{home_or_visiting}_team_id") %>">
        <span class="score"><%= @game.send("#{home_or_visiting}_team_score") %></span>
        <i class="icon-caret-down"></i>
      </a>
    </h3>
    <div class="goal-editor"></div>
    <%= link_to "Edit Team Roster", edit_game_roster_path(@game, :team => home_or_visiting) %>
  </div>
</div>

