<% title [@game.visiting_team.name, @game.visiting_team.city, "vs", @game.home_team.name, @game.home_team.city, @game.location.name, l(@game.start_time, :format => :game)].compact.join(" - ") %>

<% content_for(:head) do %>
  <%= javascript_include_tag AsyncMessaging::FAYE_CONFIG[:script] %>
<% end %>

<%= javascript_tag do %>
  $(function() {
    App.translations =  <%= I18n.t(".").to_json.html_safe %>;
    App.periods = <%= Game::Periods.to_json.html_safe %>;
    App.feedItems = new App.FeedItems(<%= json_for(@game.activity_feed_items).html_safe %>, {gameId: <%= @game.id %>});
    App.game = new App.Game(<%= json_for(@game, :methods => [:faye_uri]).html_safe %>);
    App.gameSummaryView = new App.GameSummaryView({ model: App.game, el: ".content" });
  });
<% end %>

<h1><%= @game.visiting_team.name %> vs <%= @game.home_team.name %>
  <% if can? :mark, @game %>
    <%= link_to "Mark this game", marker_game_path(@game), :class => "btn btn-primary" %>
  <% end %>
  <% if can? :edit, @game %>
    <%= link_to "Edit this game", edit_game_path(@game), :class => "btn btn-primary" %>
  <% end %>
</h1>
<p>
  <%= l @game.start_time, :format => :game %>
  <% if @game.start_time > DateTime.now %>
    (<%= timeago_tag @game.start_time %>)
  <% end %>
  <br />
  <%= @game.location.name %>
  <br />
  <%= @game.number.present? ? "##{@game.number}" : "" %>
  in <%= format_team_link(@game.league) %>
</p>


<% if @game.ended_at %>
  <p><%= t("games.ended", { :end_time => timeago_tag(@game.ended_at)}).html_safe %>
    <% if @game.completed? %>
      <%= link_to "View gamesheet", game_path(@game, :format => :pdf), :class => "btn" %>
    <% end %>
  </p>
<% elsif @game.started_at %>
  <p><%= t("games.started", { :start_time => timeago_tag(@game.started_at)}).html_safe %></p>
<% end %>

<div class="well well-large" style="text-align: center;">
  <div class="game-summary">
    <div class="period"><%= @game.completed? ? "Final" : "#{t('activerecord.attributes.game.period')} #{@game.period_text}" %></div>
    <div class="visiting-team">
      <div class="name-block">
        <%= link_to @game.visiting_team do %>
          <div class="team-name"><%= @game.visiting_team.name %></div>
          <div><%= @game.visiting_team.city %></div>
        <% end %>
        <div><%= format_team_link(@game.visiting_team) %></div>
      </div>
      <%= link_to cl_image_tag(@game.visiting_team.logo_url(:large)), @game.visiting_team %>
    </div>

    <div class="score">
      <% if @game.live? || @game.completed? %>
        <%= @game.visiting_team_score %> - <%= @game.home_team_score %>
      <% else %>
        VS
      <% end %>
    </div>

    <div class="home-team">
      <%= link_to cl_image_tag(@game.home_team.logo_url(:large)), @game.home_team %>
      <div class="name-block">
        <%= link_to @game.home_team do %>
          <div class="team-name"><%= @game.home_team.name %></div>
          <div><%= @game.home_team.city %></div>
        <% end %>
        <div><%= format_team_link(@game.home_team) %></div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>


<div class="game-highlights">
  <% if @game.vimeo_id.present? %>
    <h2><%= t("games.highlights") %></h2>
    <% if current_user %>
      <iframe src="//player.vimeo.com/video/<%= @game.vimeo_id %>" width="500" height="281"
        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
    <% else %>
      <div class="video-poster" onclick="document.location='<%= new_user_session_path %>'">
        <p><%= t(".sign_in_to_view_html", :sign_in => link_to(t('navigation.sign_in'), new_user_session_path)) %></p>
      </div>
    <% end %>
  <% end %>

  <% if current_user.try(:admin?) %>
    <%= form_for(@game, :html => {:class => "form-inline"}) do |f| %>
      <%= f.text_field :vimeo_id %>
      <%= f.submit "Set Vimeo code", :class => "btn btn-primary" %>
    <% end %>
  <% end %>
</div>

<h3><%= ActivityFeedItem.model_name.human.pluralize %></h3>

<% if current_user %>
  <%= form_for(Feed::UserPost.new(:game => @game), :remote => true) do |f| %>
    <div class="form-group pull-left" style="margin-right: 10px;" >
      <%= f.label :message, :class => "sr-only">
      <%= f.text_field :message, :class => "form-control col-md-4", :placeholder => t("activity_feed.placeholder") %>
    </div>

    <%= f.hidden_field :game_id, :value => f.object.game.to_param %>

    <div class="actions">
      <%= f.submit t("activity_feed.post"), :class => "btn btn-primary" %>
    </div>
  <% end %>
<% end %>

<ul id="feed-items"></ul>

<script type="text/html" id="feed-item">
  <div class="feed-item">
    <img src="{{= avatar_thumbnail_url }}" height="50" width="50" class="avatar">
    <p>
      <span class="creator">{{= creator }}</span>
      <span class="created-at muted"><time class="timeago" datetime="{{= created_at }}"></span>
    </p>
    <p>{{= message }}</p>
    <p class="videos">{{ _.each(videos, function(video) { }}<a href="{{= video.show_url }}"><img src="{{= video.thumb_url }}"></a> {{ }); }}</p>
  </div>
</script>


