<% title [@game.visiting_team.name, @game.visiting_team.city, "vs", @game.home_team.name, @game.home_team.city, @game.location.name, l(@game.start_time, :format => :game)].compact.join(" - ") %>
<% description "BigShot hockey game: #{@game.visiting_team.city} #{@game.visiting_team.name} vs. #{@game.home_team.city} #{@game.home_team.name} at #{@game.location.name} on #{@game.start_time.to_s(:long)}" %>

<% content_for(:head) do %>
  <%= javascript_include_tag AsyncMessaging::FAYE_CONFIG[:script] %>
<% end %>

<%= javascript_tag do %>
  $(function() {
    App.translations =  <%= I18n.t(".").to_json.html_safe %>;
    App.periods = <%= Game::Periods.to_json.html_safe %>;
    App.game = new App.Game(<%= json_for(@game, :methods => [:faye_uri]).html_safe %>);
    App.gameSummaryView = new App.GameSummaryView({ model: App.game, el: ".content" });
  });
<% end %>

<div class="row game-meta">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-5 text-center">
        <%= link_to @game.visiting_team, :class => "team-name" do %>
          <%= @game.visiting_team.name %><br>
          <%= @game.visiting_team.city %>
        <% end %>
        <div><%= link_to image_tag(@game.visiting_team.logo_url(:medium)), @game.visiting_team %></div>
      </div>
      <div class="col-xs-2 text-center">
        <div class="score">
          <% if @game.live? || @game.completed? %>
            <%= @game.visiting_team_score %> - <%= @game.home_team_score %>
          <% else %>
            VS
          <% end %>
        </div>
        <div class="period"><%= @game.completed? ? "Final" : "#{t('activerecord.attributes.game.period')} #{@game.period_text}" %></div>
      </div>
      <div class="col-xs-5 text-center">
        <%= link_to @game.home_team, :class => "team-name" do %>
          <%= @game.home_team.name %><br>
          <%= @game.home_team.city %>
        <% end %>
        <div><%= link_to image_tag(@game.home_team.logo_url(:medium)), @game.home_team %></div>
      </div>
    </div>

    <div class="row other-meta">
      <div class="col-md-6 time-and-place">
        <p>
          <%= l @game.start_time, :format => :game %>
          <% if @game.start_time > DateTime.now %>
            (<%= timeago_tag @game.start_time %>)
          <% end %>
          <br />
          <%= link_to @game.location.name, @game.location %>
          <br />
          <%= @game.number.present? ? "##{@game.number} -" : "" %>
          <%= link_to(@game.league.name, @game.league) %>
        </p>
        <% if @game.ended_at %>
          <p><%= t("games.ended", { :end_time => timeago_tag(@game.ended_at)}).html_safe %>
          </p>
        <% elsif @game.started_at %>
          <p><%= t("games.started", { :start_time => timeago_tag(@game.started_at)}).html_safe %></p>
        <% end %>
      </div>

      <div class="col-md-6 buttons">
        <% if @game.completed? %>
          <%= link_to "View gamesheet", game_path(@game, :format => :pdf), :class => "btn btn-default " %>
        <% end %>
        <% if can? :mark, @game %>
          <%= link_to "Mark this game", marker_game_path(@game), :class => "btn btn-default" %>
        <% end %>
        <% if can? :edit, @game %>
          <%= link_to "Edit this game", edit_game_path(@game), :class => "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row game-highlights">
  <% if @game.vimeo_id.present? %>
    <h2><%= t("games.highlights") %></h2>
    <% if current_user %>
      <div class="vimeo-container">
        <iframe src="//player.vimeo.com/video/<%= @game.vimeo_id %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    <% else %>
      <div class="video-poster" onclick="document.location='<%= new_user_session_path %>'">
        <p><%= t(".sign_in_to_view_html", :sign_in => link_to(t('navigation.sign_in'), new_user_session_path)) %></p>
      </div>
    <% end %>
  <% end %>

  <div class="text-right">
    <% if current_user.try(:admin?) %>
      <%= form_for(@game, :html => {:class => "form-inline"}) do |f| %>
        <%= f.text_field :vimeo_id %>
        <%= f.submit "Set Vimeo code", :class => "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <%= render :partial => "activity_feed", :locals => { new_item: Feed::UserPost.new(game: @game), context: @game } %>
</div>
