<%= javascript_tag do %>
  $(function() {
    App.dispatcher = _.clone(Backbone.Events);
    App.players = new App.Players(<%= json_for(@game.players).html_safe %>, <%= {gameId: @game.id}.to_json.html_safe %>);
    App.goals = new App.Goals(<%= json_for(@game.goals).html_safe %>, <%= {gameId: @game.id}.to_json.html_safe %>);
    App.infractions = <%= Penalty::Infractions.to_json.html_safe %>;
    App.periods = <%= Game::Periods.to_json.html_safe %>;
    App.feedItems = new App.FeedItems(<%= json_for(@game.activity_feed_items).html_safe %>, {gameId: <%= @game.id %>});
    App.game = new App.Game(<%= json_for(@game, :methods => [:faye_uri]).html_safe %>);
    App.penalties = new App.Penalties(<%= json_for(@game.penalties).html_safe %>, <%= {gameId: @game.id}.to_json.html_safe %>);
    App.gameView = new App.GameView({ model: App.game, el: ".content" });
    App.feedItemsView = new Backbone.CollectionView({
      el: "#feed-items",
      collection: App.feedItems,
      modelView: App.FeedItemView,
      emptyListCaption: "There are no activity feed items yet for this game."
    });
    App.feedItemsView.render();
  });
<% end %>

<% if @game.started_at %>
  <p>This game started <time class="timeago" datetime="<%= @game.started_at.iso8601 %>"><%= distance_of_time_in_words_to_now(@game.started_at) %></time>.</p>
<% end %>
<% if @game.ended_at %>
  <p>This game ended <time class="timeago" datetime="<%= @game.started_at.iso8601 %>"><%= distance_of_time_in_words_to_now(@game.ended_at) %></time>.</p>
<% end %>


<% if @game.live? %>
  <% if can? :mark, @game %>
    <div id="game-status" style="text-align: center;">
      <p class="active">This game is ready to play. Press <i class="icon-play"></i> to start the next period.</p>
      <p class="playing">This game is playing. Press <i class="icon-pause"></i> to pause the game clock.</p>
      <p class="paused">This game is paused. Press <i class="icon-play"></i> to resume.</p>
      <p class="finished">This game has ended. When you have completed recording all items, press: <%= link_to "Complete Game", complete_game_path(@game), :class => "btn", :method => :post %> </p>
    </div>
  <% end %>

  <div id="start-stop-clock">
    <% if can? :mark, @game %>
      <%= link_to "<i class='icon-play icon-2x'></i>".html_safe, "#", :id => "game-start", :class => "btn btn-large btn-success" %> 
      <%= link_to "<i class='icon-pause icon-2x'></i>".html_safe, "#", :id => "game-pause", :class => "btn btn-large btn-warning" %>
      <%= link_to "<i class='icon-stop icon-2x'></i>".html_safe, "#", :id => "game-stop", :class => "btn btn-large btn-danger" %>
    <% end %>

    <span id="game-period" class="label"></span>
    <span id="game-clock" class="label"></span>
  </div>

  <div class="row-fluid">
    <%= render :partial => "team_box", :locals => {:team => @game.home_team, :home_or_visiting => :home } %>
    <%= render :partial => "team_box", :locals => {:team => @game.visiting_team, :home_or_visiting => :visiting } %>
  </div>

<% elsif %>

  <h2>
    <%= @game.home_team.name %> <i>vs</i>
    <%= @game.visiting_team.name %>
  </h2>

  <h3>
    <%= link_to @game.league.name, @game.league %>
  </h3>

  <%= @game.start_time.to_s(:long) %> at
  <%= @game.location.name %>

  <% if @game.scheduled? %>
    <p>This game is scheduled to start <time class="timeago" datetime="<%= @game.start_time.iso8601 %>"><%= distance_of_time_in_words_to_now(@game.start_time) %></time>.</p>
    <% if can? :mark, @game %>
      <%= render :partial => "marker_checklist" %>
    <% end %>
  <% elsif @game.canceled? %>
    <p>This game has been canceled.</p>
  <% elsif @game.completed? %>
    <p>This game is over.</p>
  <% end %>
<% end %>

<div class="well">
  <h2>Activity Feed</h2>

  <% if current_user %>
    <%= form_for(ActivityFeedItem.new(:game => @game), :remote => true) do |f| %>
      <div class="field pull-left" style="margin-right: 10px;" >
        <%= f.text_field :message, :class => "span4", :placeholder => "Enter status message here..." %>
      </div>

      <%= f.hidden_field :game_id, :value => f.object.game.to_param %>

      <div class="actions">
        <%= f.submit "Post", :class => "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>

  <table id="feed-items" class="table">
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Message</th>
        <th>When</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>

<script type="text/html" id="feed-item">
<td><img src="{{= avatar_thumbnail_url }}" height="50" width="50"></td>
<td>{{= creator }}</td>
<td>{{= message }}</td>
<td><time class="timeago" datetime="{{= created_at }}"></time></td>
</script>

<% content_for(:head) do %>
  <%= javascript_include_tag AsyncMessaging::FAYE_CONFIG[:script] %>
<% end %>

<script type="text/html" id="penalty-view">
<td>{{= App.periods[period] }}</td>
<td>{{= App.displaySeconds(elapsed_time) }}</td>
<td>{{= App.players.get(player_id).get("jersey_number") + (player_id != serving_player_id ? " (served by " + App.players.get(serving_player_id).get("jersey_number") + ")" : "") }}</td>
<td>{{= App.humanize(infraction) + " (" + App.humanize(category) + ")" }}</td>
<td>{{= App.humanize(state) }}</td>
<td class="timer" style="white-space: nowrap"></td>
<td style="white-space: nowrap">
  <%= link_to "#", :class => "start btn btn-small btn-success" do %>
    <i class="icon-play"></i>
  <% end %>
  <%= link_to "#", :class => "edit btn btn-small" do %>
    <i class="icon-edit"></i>
  <% end %>
  <%= link_to "#", :class => "delete btn btn-small btn-danger" do %>
    <i class="icon-remove"></i>
  <% end %>
</td>
</script>

<script type="text/html" id="goal-view">
<td>{{= App.periods[period] }}</td>
<td>{{= App.displaySeconds(elapsed_time) }}</td>
<td>{{= jersey_numbers.join(", ") }}</td>
<td>
  <%= link_to "#", :class => "edit btn btn-small" do %>
    <i class="icon-edit"></i>
  <% end %>
  <%= link_to "#", :class => "delete btn btn-small btn-danger" do %>
    <i class="icon-remove"></i>
  <% end %>
</td>
</script>

<script type="text/html" id="player-checkbox">
  <tr>
    <input name="game[game_players_attributes][{{= id }}][player_id]" value="{{= id }}" type="hidden" />
    <td>
      <label class="checkbox inline" for="player_{{= id }}">
        <input id="player_{{= id }}" name="game[game_players_attributes][{{= id }}][selected]" type="checkbox" checked="checked" value="true" />
        {{= name_and_number }}
      </label>
    </td>
    <td>
      <select id="game_player_select_{{= id }}" name="game[game_players_attributes][{{= id }}][role]" value="player">
        <% Player::Roles.each do |role| %>
          <option value="<%= role %>"><%= role.to_s.humanize %></options>
        <% end %>
      </select>
    </td>
  </tr>
</script>

