<%= javascript_tag do %>
  $(function() {
    App.game = new App.Game(<%= @game.to_json.html_safe %>);
    App.gameView = new App.GameView({ model: App.game });
    App.goals = new App.Goals(<%= @game.goals.to_json.html_safe %>, <%= {gameId: @game.id}.to_json.html_safe %>);
    App.homeGoalsView = new App.GoalsView({ collection: App.goals, el: "#home-team" });
    App.visitingGoalsView = new App.GoalsView({ collection: App.goals, el: "#visiting-team" });
    App.players = new App.Players(<%= @game.players.to_json.html_safe %>, <%= {gameId: @game.id}.to_json.html_safe %>);
  });
<% end %>

<script type="text/html" id="goal-form">
  <form>
    <div id="goal-primary">
      <label for="player0">Player who scored...</label>
      <select id="player0" name="player[0]" class="span3">{{= _.template($("#player-options").html(), { players: players, selectedId: ids[0] }) }}</select>
    </div>

    <div id="goal-assist">
      <label for="player1">Player who assisted...</label>
      <select id="player1" name="player[1]" class="span3">{{= _.template($("#player-options").html(), { players: players, selectedId: ids[1] }) }}</select>
    </div>

    <div id="goal-secondary-assist">
      <label for="player2">And also...</label>
      <select id="player2" name="player[2]" class="span3">{{= _.template($("#player-options").html(), { players: players, selectedId: ids[2] }) }}</select>
    </div>

    <%= link_to "Cancel", "#", :id => "goal-cancel" %>
    <%= submit_tag "Save", :class => "btn btn-small btn-primary" %>

  </form>
</script>

<script type="text/html" id="player-options">
<option></option>
{{ _.each(players, function(player) { }}
   <option value="{{= player.id }}" {{= player.id == selectedId ? "selected" : ""}}>{{= player.get("jersey_number") }}</option> 
{{ }); }}
</script>

<div>
  <% if @game.clock %>
    <div id="start-stop-clock">
      <% if can?(:start, @game) %>
        <%= link_to "<i class='icon-play icon-2x'></i>".html_safe, start_game_path(@game, :format => :json), :method => :post, :remote => true, :id => "game-start", :class => "btn btn-large btn-success", :style => displayStyle(@game.can_start?) %> 
      <% end %>

      <% if can? :stop, @game %>
        <%= link_to "<i class='icon-pause icon-2x'></i>".html_safe, stop_game_path(@game, :format => :json), :method => :post, :remote => true, :id => "game-pause", :class => "btn btn-large btn-danger", :style => displayStyle(@game.can_pause?) %>
      <% end %>

      <span id="game-clock" class="label">
        <%= @game.clock.elapsed_time_hms %>
      </span>
    </div>
  <% end %>
  <div class="row-fluid">
    <%= render :partial => "team_box", :locals => {:home_or_visiting => "home" } %>
    <%= render :partial => "team_box", :locals => {:home_or_visiting => "visiting" } %>
  </div>
</div>


<h2 class="page-header"><%= @game.home_team.name %> <i>vs</i> <%= @game.visiting_team.name %> <br /> <small><%= @game.start_time.to_s(:long) %> at <%= @game.location.name %></small></h2>

<% if @game.scheduled? %>
  <p>This game is scheduled to start in <%= distance_of_time_in_words_to_now(@game.start_time) %>.</p>
  <div class="actions">
    <%= link_to "Activate", activate_game_path(@game), :method => :post, :class => "btn" %>
    <%= link_to "Cancel", @game, :method => :delete, :class => "btn" %>
  </div>
<% elsif @game.active? %>
  <p>This game is ready to start. Press <i class="icon-play"></i> to start the <%= (@game.period + 1).ordinalize %> period.</p>
<% elsif @game.paused? %>
  <p>This game is paused. Press <i class="icon-start"></i> to resume.</p>
  <%= render :partial => "score_board", :locals => {:game => @game } %>
<% elsif @game.finished? %>
  <p>This game has ended.</p>
  <%= link_to "Complete Game", complete_game_path(@game), :class => "btn" %>
  <%= render :partial => "score_board", :locals => {:game => @game } %>
<% elsif @game.completed? %>
  <p>This game is completed.</p>
<% elsif @game.canceled? %>
  <p>This game was canceled.</p>
<% end %>

<div>
  <%= image_tag("sample_frame.png") %>
</div>

<% if can? :create, Goal.new(:game => @game) %>
  <div style="margin-top: 10px;">
    <%= link_to "Record Goal", new_game_goal_path(@game), :class => "btn" %>
    <%= link_to "See all Goals for this game", game_goals_path(@game), :class => "btn" %>
  </div>
<% end %>

<%= render :partial => "activity_feed", :locals => { :new_activity_feed_item => ActivityFeedItem.new(:game => @game), :activity_feed_items => @game.activity_feed_items, :in_game_context => true } %>

<% content_for(:head) do %>
  <%= javascript_include_tag "http://localhost:8000/faye/client.js" %>
<% end %>


