<%= javascript_tag do %>
  $(function() {
    App.dispatcher = _.clone(Backbone.Events);
    App.players = new App.Players(<%= @game.players.to_json.html_safe %>, <%= {gameId: @game.id}.to_json.html_safe %>);
    App.goals = new App.Goals(<%= @game.goals.to_json.html_safe %>, <%= {gameId: @game.id}.to_json.html_safe %>);
    App.infractions = <%= Penalty::Infractions.to_json.html_safe %>;
    App.periods = <%= Game::Periods.to_json.html_safe %>;
    App.game = new App.Game(<%= @game.to_json.html_safe %>);
    App.penalties = new App.Penalties(<%= @game.penalties.to_json.html_safe %>, <%= {gameId: @game.id}.to_json.html_safe %>);
    App.gameView = new App.GameView({ model: App.game });
    App.homeGoalsView = new App.GoalsView({ collection: App.goals, el: "#home-team" });
    App.visitingGoalsView = new App.GoalsView({ collection: App.goals, el: "#visiting-team" });
    App.homeView = new App.TeamBoxView({ el: "#home-team", teamId: <%= @game.home_team_id %> });
    App.visitingView = new App.TeamBoxView({ el: "#visiting-team", teamId: <%= @game.visiting_team_id %> });
  });
<% end %>

<script type="text/html" id="penalty-view">
<td>{{= App.periods[period] }}</td>
<td>{{= App.displaySeconds(elapsed_time) }}</td>
<td>{{= App.players.get(player_id).get("jersey_number") }}</td>
<td>{{= App.players.get(serving_player_id).get("jersey_number") }}</td>
<td>{{= App.humanize(category) }}</td>
<td>{{= App.humanize(infraction) }}</td>
<td>{{= App.humanize(state) }}</td>
<td class="timer" style="white-space: nowrap"></td>
<td style="white-space: nowrap">
  <%= link_to "Start", "#", :class => "start btn btn-small btn-primary" %>
  <%= link_to "Edit", "#", :class => "edit btn btn-small" %>
  <%= link_to "Delete", "#", :class => "delete btn btn-small btn-danger" %>
</td>
</script>


<% if @game.live? %>
  <% if @game.active? %>
    <p>This game is ready to play. Press <i class="icon-play"></i> to start the <%= (@game.period + 1).ordinalize %> period.</p>
  <% elsif @game.playing? %>
    <p>This game is playing. Press <i class="icon-pause"></i> to pause the game clock.</p>
  <% elsif @game.paused? %>
    <p>This game is paused. Press <i class="icon-start"></i> to resume.</p>
  <% elsif @game.finished? %>
    <p>This game has ended. When you have completed recording all items, press: </p>
    <%= link_to "Complete Game", complete_game_path(@game), :class => "btn", :method => :post %>
  <% end %>

  <div id="start-stop-clock">
    <%= link_to "<i class='icon-play icon-2x'></i>".html_safe, start_game_path(@game, :format => :json), :method => :post, :remote => true, :id => "game-start", :class => "btn btn-large btn-success", :style => displayStyle(@game.can_start?) %> 
    <%= link_to "<i class='icon-pause icon-2x'></i>".html_safe, stop_game_path(@game, :format => :json), :method => :post, :remote => true, :id => "game-pause", :class => "btn btn-large btn-danger", :style => displayStyle(@game.can_pause?) %>

    <span id="game-clock" class="label"></span>
  </div>

  <div class="row-fluid">
    <%= render :partial => "team_box", :locals => {:home_or_visiting => "home" } %>
    <%= render :partial => "team_box", :locals => {:home_or_visiting => "visiting" } %>
  </div>

<% elsif %>

  <h2 class="page-header">
    <%= @game.home_team.name %> <i>vs</i>
    <%= @game.visiting_team.name %>
    <br />
    <small>
      <%= @game.start_time.to_s(:long) %> at
      <%= @game.location.name %>
    </small>
  </h2>

  <% if @game.scheduled? %>
    <p>This game is scheduled to start <time class="timeago" datetime="<%= @game.start_time.iso8601 %>"><%= distance_of_time_in_words_to_now(@game.start_time) %></time>.</p>
    <div class="actions">
      <%= link_to "Activate", activate_game_path(@game), :class => "btn btn-primary", :method => :post %>
      <%= link_to "Cancel", game_path(@game), :class => "btn btn-warning", :method => :delete %>
    </div>
  <% elsif @game.canceled? %>
    <p>This game has been canceled.</p>
  <% elsif @game.completed? %>
    <p>This game is over.</p>
  <% end %>
<% end %>

<%= render :partial => "activity_feed", :locals => { :new_activity_feed_item => ActivityFeedItem.new(:game => @game), :activity_feed_items => @game.activity_feed_items, :in_game_context => true } %>

<% content_for(:head) do %>
  <%= javascript_include_tag "http://localhost:8000/faye/client.js" %>
<% end %>


