<% title [@game.visiting_team.name, @game.visiting_team.city, "vs", @game.home_team.name, @game.home_team.city, @game.location.name, l(@game.start_time, :format => :game)].compact.join(" - ") %>

<h1><%= @game.visiting_team.name %> vs <%= @game.home_team.name %></h1>
<p><%= l @game.start_time, :format => :game %></p>
<p><%= @game.location.name %></p>

<% if @game.started_at %>
  <p>This game started <%= timeago_tag @game.started_at %>.</p>
<% end %>
<% if @game.ended_at %>
  <p>This game ended <%= timeago_tag @game.ended_at %></time>.</p>
<% end %>

<% if @game.completed? %>
  <%= link_to "View gamesheet", game_path(@game, :format => :pdf), :class => "btn" %>
<% end %>

<% if can? :mark, @game %>
  <%= link_to "Mark this game", marker_game_path(@game), :class => "btn btn-primary" %>
<% end %>
