<h2 class="page-header"><%= @game.home_team.name %> <i>vs</i> <%= @game.visiting_team.name %> <br /> <small><%= @game.start_time.to_s(:long) %> at <%= @game.location.name %></small></h2>

<% if @game.scheduled? %>
  <p>This game is scheduled to start in <%= distance_of_time_in_words_to_now(@game.start_time) %>.
<% elsif @game.active? %>
  <p>This game is currently being played.</p>
  <%= render :partial => "score_board", :locals => {:game => @game } %>
  <div class="timer" data-elapsed-time=<%= @game.clock.elapsed_time.to_i %>>
    <%= @game.clock.elapsed_time_hms %>
  </div>
<% elsif @game.finished? %>
  <p>This game ended.</p>
  <%= render :partial => "score_board", :locals => {:game => @game } %>
<% elsif @game.canceled? %>
  <p>This game was canceled.</p>
<% end %>

<div>
  <%= image_tag("sample_frame.png") %>
</div>

<% if can? :create, Goal.new(:game => @game) %>
  <div style="margin-top: 10px;">
    <%= link_to "Record Goal", new_game_goal_path(@game), :class => "btn" %>
    <%= link_to "See all Goals for this game", game_goals_path(@game), :class => "btn" %>
  </div>
<% end %>

<% if can?(:start, @game) %>
  <% if @game.scheduled? %>
    <%= link_to "Start Game", start_game_path(@game), :method => :post, :class => "btn" %>
  <% elsif @game.active? && @game.clock.paused? %>
    <%= link_to "Start Game Clock", start_game_path(@game), :method => :post, :class => "btn" %>
  <% end %>
<% end %>

<% if can? :stop, @game %>
  <% if @game.active? && @game.clock.running? %>
    <%= link_to "Stop game clock", stop_game_path(@game), :method => :post, :class => "btn" %>
  <% end %>
<% end %>

<%= render :partial => "activity_feed", :locals => { :new_activity_feed_item => ActivityFeedItem.new(:game => @game), :activity_feed_items => @game.activity_feed_items, :in_game_context => true } %>

