<% title "BigShot post: #{raw format_message_text_only(@feed_item.message)}" %>
<% description raw format_message_text_only(@feed_item.message) %>

<div class="row">
  <div class="activity-feed col-xs-12 col-md-8 col-lg-7">
    <%= render :partial => "feed_item", :locals => { :item => @feed_item } %>
  </div>
  <div class="mentions col-xs-12 col-md-4 col-lg-5">
    <h4><%= t(".mentioned_header") %></h4>
    <% @feed_item.mentions.each do |mention| %>
      <%= render :partial => "chiclet", :locals => {:obj => mention.mentionable } %>
    <% end %>
  </div>
</div>

<% content_for(:head) do %>
  <meta property="fb:app_id" content="501253019996420">
  <meta property="og:site_name" content="BigShot">
  <meta property="og:description" content="<%= format_message_text_only(@feed_item.message) %>">
  <meta property="og:title" content="<%= @feed_item.title %>">
  <% if @feed_item.videos.any? %>
    <meta property="og:image" content="<%= @feed_item.videos.first.poster_url %>">
  <% end %>
<% end %>

