<h2><%= @tournament.name %> - Officials</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tournament.officials.each do |official| %>
      <tr>
        <td><%= official.name %></td>
        <td><%= link_to "Edit", edit_tournament_official_path(@tournament, official) if can? :edit, official %></td>
        <td><%= link_to "Delete", tournament_official_path(@tournament, official), method: :delete, data: { confirm: 'Are you sure?' } if can? :edit, official %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to "Back", @tournament %>
<%= link_to "Add new official", new_tournament_official_path(@tournament), :class => "btn" %>
