<% unless request.xhr? %>
  <h3>Which players from <%= @team.name %> are playing in this game?</h3>
<% end %>

<%= form_for(@game, :url => game_roster_path(@game, :team => @home_or_visiting), :remote => request.xhr?) do |f| %>

  <div class="players">
    <% @team.players.each do |player| %>
      <%= label_tag "player_#{player.id}", :class => "checkbox" do %>
        <%= check_box_tag "game[player_ids][]", player.id, @game.player_ids.include?(player.id), :id => "player_#{player.id}" %>
        <%= player.at_name %>
      <% end %>
    <% end %>
  </div>

  <% @other_team.players.each do |player| %>
    <%= hidden_field_tag("game[player_ids][]", player.id) if @game.player_ids.include?(player.id) %>
  <% end %>

  <%= hidden_field_tag "game[player_ids][]" %>

  <% unless request.xhr? %>
    <%= f.submit "Update Game Roster", :class => "btn btn-primary" %>
  <% end %>

<% end %>

<% unless request.xhr? %>
  <div>
    <%= link_to "Add new player", new_game_roster_path(@game, :team => @home_or_visiting) %>
  </div>
  <div>
    <%= link_to "Back", @game %>
  </div>
<% end %>
