<%= form_for([@league, @team]) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :"data-suggest-system-name-in" => "team_system_name_attributes_name", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, :class => "form-control" %>
  </div>

  <%= f.fields_for :system_name do |snf| %>
    <div class="form-group">
      <%= snf.label :name %>
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <%= snf.text_field :name, :class => "form-control" %>
      </div>
    </div>
  <% end %>

  <%= f.hidden_field :logo_cache %>

  <div class="form-group">
    <% if @team.logo.present? %>
      <%= cl_image_tag @team.logo_url(:thumbnail), :height => 50, :width => 50, :style => "float: left; margin-right: 10px" %>
    <% end %>

    <%= f.label :logo %>
    <%= f.file_field :logo %>
  </div>

  <%= f.hidden_field :alpha_logo_cache %>

  <div class="form-group">
    <% if @team.alpha_logo.present? %>
      <%= cl_image_tag @team.alpha_logo_url(:thumbnail), :height => 50, :width => 50, :style => "float: left; margin-right: 10px" %>
    <% end %>

    <%= f.label :alpha_logo %>
    <%= f.file_field :alpha_logo %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
