<p class="text-right">
  <%= link_to t("team.add_player"), new_team_player_path(@team), :class => "btn btn-default" if can? :create, Player.new(:team => @team) %>
  <%= link_to(t(".get_private_link"), team_claims_path(:team_claim => {:team_id => @team.to_param}), :class => "btn btn-default", :method => :post) if can?(:create, TeamClaim.new(:team => @team)) %>
</p>
<p><%= t(".no_players") unless players.any? %></p>

<div>
  <% players.each do |player| %>
    <div class="player">
      <div class="photo">
        <%= link_to(image_tag(player.photo_url(:thumbnail)), player) %>
        <div class="jersey">#<%= player.jersey_number %></div>
      </div>
      <div><%= link_to(player.name, player) %></div>
      <div><%= link_to(player.user.at_name) if player.user %></div>
      <% if can?(:edit, player) || can?(:delete, player) %>
        <div class="dropup">
          <%= link_to raw('<span class="glyphicon glyphicon-cog"><b class="caret"></b>'), "#", :data => {:toggle => "dropdown" } %>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><%= link_to t("actions.edit"), edit_player_path(player) if can? :edit, player %></li>
            <li><%= link_to t("actions.remove"), player, method: :delete, data: { confirm: t("actions.confirm") } if can? :delete, player %></li>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

