<h1>Listing teams</h1>

<table class="table table-hover">
  <tr>
    <th style="width: 50px;">Logo</th>
    <th>City</th>
    <th>Full Name</th>
    <th>Name</th>
    <th></th>
    <th>League</th>
    <th></th>
    <th></th>
  </tr>

<% @teams.without_deleted.each do |team| %>
  <tr>
    <td><%= image_tag(team.logo_url(:thumbnail), :width => 50, :height => 50) if team.logo.present? %>
    <td><%= team.city %></td>
    <td><%= team.full_name %></td>
    <td>
      <span class="pull-left" style="margin-right: 10px;">
        <%= format_user_link(team) %>
      </span>
      <%= render :partial => 'follow_button', :locals => {:target => team } %>
    </td>
    <td><%= team.league.name %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
  </tr>
<% end %>
</table>
