<% title [@team.name, @team.city, @team.league.name].compact.join(" - ") %>
<div class="row team-show">

  <div class="span9">
    <div class="team-name-block">
      <% if @team.alpha_logo.present? %>
        <%= cl_image_tag @team.alpha_logo_url(:large), :alt => "team logo" %>
      <% end %>

      <div class="team-name">
        <%= @team.name %>
        <%= link_to 'Edit', edit_team_path(@team), :class => "btn btn-small" if can? :edit, @team %>
        <%= render :partial => "follow_button", :locals => {:target => @team } %>
      </div>
      <div><%= format_team_link(@team) %></div>
      <%= @team.city %><br>
      <div class="byline"><em>a member of <%= link_to @team.league.name, @team.league %></em></div>
    </div>

    <br />

    <h3>Players</h3>

    <table class="table table-hover">
      <tr>
        <th>Photo</th>
        <th>Name</th>
        <th style="width: 20px;">#</th>
        <th>Profile</th>
        <th>Role</th>
        <th></th>
      </tr>

      <% @team.players.each do |player| %>
        <tr>
          <td><%= link_to player do %>
            <%= cl_image_tag(player.photo_url(:thumbnail)) %>
          <% end %>
          </td>
          <td><%= player.name %></td>
          <td><%= player.jersey_number %></td>
          <td><%= format_player_link(player) %></td>
          <td><%= player.role.to_s.humanize %></td>
          <td>
            <%= link_to 'Edit', edit_player_path(player) %>
            <%= link_to 'Remove', player, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </table>

    <br />

    <%= link_to 'Add Player', new_team_player_path(@team), :class => "btn" if can? :create, Player.new(:team => @team) %>

    <br />

    <% if Game.for_team(@team).scheduled_or_active.any? %>
      <%= render :partial => "games", :locals => { :games => Game.for_team(@team).scheduled_or_active } %>
    <% end %>

    <%= render :partial => "activity_feed", :locals => {:activity_feed_items => @team.activity_feed_items, :in_game_context => false } %>

  </div>

  <div class="span3">
    <div class="row well">
      <h4>Managers
        <% if can?(:create, Invitation.new(:target => @team)) %>
          <%= link_to 'Invite', new_invitation_path(:predicate => :manage, :target_id => @team.to_param, :target_type => "Team"), :class => "btn btn-small" %>
      <% end %>
      </h4>

      <%= @team.managers.collect {|manager| format_user_link(manager) }.join(", ").html_safe %>
    </div>

    <div class="row well">
      <h4>Staff Members
        <%= link_to "Edit", team_staff_members_path(@team), :class => "btn btn-small" if can? :update, @team.staff_members.build %>
      </h4>
      <p> <%= @team.staff_members.sort_by {|sm| StaffMember::Roles.index(sm.role) }.collect(&:name_and_role).join(", ") || "<em>none</em>".html_safe %> </p>
    </div>
  </div>
</div>


<%= link_to 'Back', league_path(@team.league) %>
