<% title [@team.name, @team.city, @team.league.name].compact.join(" - ") %>

<div class="row team-meta">
  <div class="col-xs-12 col-sm-4 photo">
    <%= image_tag(@team.alpha_logo_url(:medium)) %>
  </div>
  <div class="col-xs-12 col-sm-5 team-name">
    <h1>
      <%= @team.name %>
    </h1>
    <h2><%= @team.city %></h2>
    <%= format_team_link(@team) %>
    <h3>
      <%= link_to(@league.name, @league) %>
      <small style="white-space: nowrap;">
        <%= t(@team.division, :scope => "league.divisions") %>
        <%= t(@team.classification, :scope => "league.classifications") if @team.classification.present? %>
      </small>
    </h3>
  </div>
  <div class="col-xs-12 col-sm-3 buttons">
    <div class="text-right">
      <%= render partial: "follow_button", locals: { target: @team } %>
      <%= link_to t("actions.edit"), edit_team_path(@team), :class => "btn btn-default btn-sm" if can?(:edit, @team) %>
      <p></p>
    </div>
  </div>
</div>

<hr>

<%= javascript_tag do %>
  $(function() {
    $(".nav-tabs a").click(function(e) {
      e.preventDefault();
      $(this).tab("show");
    });
    $(".nav-tabs a:first").tab("show");
  });
<% end %>

<ul class="nav nav-tabs">
  <li><%= link_to ActivityFeedItem.model_name.human.pluralize, "#feed", :data => {:toggle => "tab" } %></li>
  <li><%= link_to Player.model_name.human.pluralize, "#players", :data => {:toggle => "tab" } %></li>
  <li><%= link_to Game.model_name.human.pluralize, "#games", :data => {:toggle => "tab" } %></li>
  <li><%= link_to "#fans", :data => {:toggle => "tab" } do %>
    <%= t("header", :scope => "followers", :name => @team.name) %>
      <span class="badge"><%= @team.followers.count %></span>
    <% end %>
  </li>
  <li><%= link_to t(".staff_members"), "#staff", :data => {:toggle => "tab" } %></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active fade" id="feed">
    <%= render :partial => "activity_feed", :locals => { :feed_items => ActivityFeedItem.for(@team), :to => @team, :hide_header => true } %>
  </div>
  <div class="tab-pane fade" id="players">
    <%= render :partial => "players", :locals => { :players => @team.players } %>
  </div>
  <div class="tab-pane fade" id="games">
    <%= render :partial => "games", :locals => { :games => Game.for_team(@team), :compact => true } %>
  </div>
  <div class="tab-pane fade" id="fans">
    <%= render :partial => "followers", :locals => {:target => @team, :hide_header => true } %>
  </div>
  <div class="tab-pane fade" id="staff">
    <%= render :partial => "staff_members" %>
  </div>
</div>

<p><br><%= link_to t("navigation.back_html"), root_path %></p>
