<h2 class="page-header">
  <% if @team.logo.present? %>
    <%= image_tag @team.logo_url(:thumbnail), :height => 50, :width => 50, :style => "float: left; margin-right: 10px" %>
  <% end %>
  <%= @team.full_name %>
  <small>(<%= link_to 'edit', edit_team_path(@team) %>)</small>
  <%= render :partial => "follow_button", :locals => {:target => @team } %>
</h2>

<h3 class="page-header">Managers
  <% if can?(:create, Invitation.new(:target => @team)) %>
    <small>
      (<%= link_to 'invite', new_invitation_path(:predicate => :manage, :target_id => @team.to_param, :target_type => "Team") %>)
    </small>
  <% end %>
</h3>

<%= @team.managers.collect {|manager| format_user_link(manager) }.join(", ").html_safe %>

<h3>Staff Members</h3>
<p> <%= @team.staff_members.sort_by {|sm| StaffMember::Roles.index(sm.role) }.collect(&:name_and_role).join(", ") || "<em>none</em>".html_safe %> </p>
<%= link_to "Manage staff members", team_staff_members_path(@team), :class => "btn clearfix" if can? :update, @team.staff_members.build %>


<h3 class="page-header">Players</h3>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th style="width: 20px;">#</th>
    <th>Profile</th>
    <th></th>
  </tr>

  <% @team.players.each do |player| %>
    <tr>
      <td><%= player.name %>
      <td><%= player.jersey_number %></td>
      <td><%= format_player_link(player) %></td>
      <td>
        <%= link_to 'Edit', edit_player_path(player) %>
        <%= link_to 'Remove', player, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Add Player', new_team_player_path(@team), :class => "btn" if can? :create, Player.new(:team => @team) %>

<br />

<% if Game.for_team(@team).scheduled_or_active.any? %>

  <h3 class="page-header">Current Games</h3>

  <table class="table table-hover">
    <tr>
      <th>Status</th>
      <th><i>vs</i></th>
      <th>When</th>
      <th>Where</th>
      <th>Score</th>
    </tr>

    <% Game.for_team(@team).scheduled_or_active.asc.each do |game| %>
      <tr>
        <td><%= link_to game.state.humanize, game %></td>
        <td><%= link_to game.opposing_team(@team).name, game.opposing_team(@team) %></td>
        <td><%= game.start_time.to_s(:long) %></td>
        <td>
          <%= link_to game.location.name, game.location %>
          <%= link_to game.location.map_url, :target => "_blank" do %>
            <%= image_tag "google-maps-icon-blank.svg", :class => "map-icon", :target => "_blank" %>
          <% end %>
        </td>
        <td><%= "#{game.score_for(@team)} - #{game.score_for_opposing_team(@team)}" if game.active? %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= render :partial => "activity_feed", :locals => {:activity_feed_items => @team.activity_feed_items, :in_game_context => false } %>

<%= link_to 'Back', league_path(@team.league) %>
