<% unless request.xhr? %>
  <%= javascript_tag do %>
    $(function() {
      function toggleSelectVisibility(e) {
        var checked = $(this).is(":checked");
        $("select", $(e.target).parents("tr")).css({visibility: (checked ? "visible" : "hidden")});
        $("input[type=text]", $(e.target).parents("tr")).css({visibility: (checked ? "visible": "hidden")});
      }

      $(".players input[type=checkbox]").on("click", toggleSelectVisibility);
    });
  <% end %>
<% end %>
<% unless request.xhr? %>
  <h3>Which players from <%= @team.name %> are playing in this game?</h3>
<% end %>

<%= form_for(@game, :url => marker_game_roster_path(@game, :team => @home_or_visiting), :remote => request.xhr?) do |f| %>

  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited your update from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="players">
    <% @team.players.each do |player| %>
      <tr>
        <% game_player = @game.game_players.where(:player_id => player.id).first %>
        <% if game_player %>
          <input name="game[game_players_attributes][<%= player.id %>][id]" value="<%= game_player.id %>" type="hidden" />
        <% end %>
        <input name="game[game_players_attributes][<%= player.id %>][player_id]" value="<%= player.id %>" type="hidden" />
        <td>
          <div class="checkbox">
            <%= label_tag "player_#{player.id}" do %>
              <%= check_box_tag "game[game_players_attributes[#{player.id}][selected]", true, game_player.present?, :id => "player_#{player.id}" %>
              <%= player.name_and_number %>
            <% end %>
          </div>
        </td>
        <td>
          <%= select_tag "game[game_players_attributes][#{player.id}][role]",
            options_for_select(Player::Roles.map {|r| [r.to_s.humanize, r]}, game_player.try(:role) || player.role),
            :style => "visibility: #{game_player ? 'visible' : 'hidden'}" %>
        </td>
        <td>
          <%= text_field_tag "game[game_players_attributes][#{player.id}][player_attributes][jersey_number]", player.jersey_number, :style => "visibility: #{game_player ? 'visible' : 'hidden'}; margin-left: 8px;" %>
          <%= hidden_field_tag "game[game_players_attributes][#{player.id}][player_attributes][id]", player.id %>
        </td>
      </tr>
    <% end %>
  </table>

  <% unless request.xhr? %>
    <%= f.submit "Update Game Roster", :class => "btn btn-primary" %>
  <% end %>

<% end %>

<% unless request.xhr? %>
  <div>
    <%= link_to "Add new player", new_marker_game_roster_path(@game, :team => @home_or_visiting) %>
  </div>
  <div>
    <%= link_to "Back", @game %>
  </div>
<% end %>

