<h1>Edit team member</h1>

<%= form_for(@player, :html => {:multipart => true}) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <% unless @player.user %>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  </div>

  <div class="field">
    <%= f.label :jersey_number %>
    <%= f.text_field :jersey_number, :class => "span1" %>
  </div>

  <div class="field">
    <%= f.label :role %>
    <%= f.collection_select :role, Player::Roles.map {|r| [r, r.to_s.humanize]}, :first, :second %>
  </div>

  <div class="field">
    <%= f.label :photo %>
    <div style="margin-bottom: 10px">
      <%= cl_image_tag(@player.photo_url(:small)) if @player.photo? %>
    </div>
    <%= f.file_field :photo %>
    <%= f.hidden_field :photo_cache %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Back', team_path(@player.team) %>


