<% unless request.xhr? %>
  <h1>New team player</h1>
<% end %>

<%= form_for([@team, @player], :remote => request.xhr?, :format => request.xhr? ? :json : :html) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :jersey_number %>
    <%= f.text_field :jersey_number, :class => "span1" %>
  </div>

  <div class="field">
    <%= f.label :role %>
    <%= f.collection_select :role, Player::Roles.map {|r| [r, r.to_s.humanize]}, :first, :second %>
  </div>

  <div class="field">
    <%= f.label :username_or_email %>
    <% if @player.new_record? %>
      <%= f.text_field :username_or_email, :placeholder => "Optional: enter email address to invite"  %>
    <% else %>
      <%= f.text_field :ignore, :value => @player.at_name, :disabled => true %>
    <% end %>
  </div>

  <% unless request.xhr? %>
    <div class="actions">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  <% end %>
<% end %>

<% unless request.xhr? %>
  <%= link_to 'Back', team_path(@team) %>
<% end %>

