<% title [@player.name, @player.team.name, @player.team.league.name].join(" - ") %>

<div class="row player-meta">
  <div class="col-xs-12 col-sm-4 photo">
    <%= image_tag(@player.photo_url(:medium_face)) %>
  </div>

  <div class="col-xs-12 col-sm-5 player-name">
    <h1>
      <%= @player.name %> 
      <small style="white-space: nowrap"; >
        #<%= @player.jersey_number %>
        <% unless @player.role == :player %>
          &dash; <%= t(@player.role, :scope => "activerecord.values.player.role") %>
        <% end %>
      </small>
    </h1>
    <h3><%= link_to @team.name, @team %>
      <small style="white-space: nowrap;">
        <%= t(@team.division, :scope => "league.divisions") %>
        <%= t(@team.classification, :scope => "league.classifications") if @team.classification.present? %>
      </small>
    </h3>
    <p><%= @team.city %></p>

    <% if @player.user %>
      <p><%= t("player.belongs_to_html", { :user => format_user_link(@player.user) }) %></p>
    <% elsif current_user %>
      <% unless Player.where(:team_id => @player.team_id, :user_id => current_user.id).any? %>
        <h4><%= t("player.claim.header") %></h4>
        <p><%= t("player.claim.prompt_html", { :claim => link_to(t("player.claim.button"), new_player_claim_path(@player), :class => "btn btn-primary btn-sm") } ) %></p>
      <% end %>
      <% if can?(:create, Invitation.new(:target => @player)) %>
        <h4><%= t("player.invite_claim.header") %></h4>
        <p>
        <%= t("player.invite_claim.prompt_html", { :invite => invitation_button(:claim, @player, {:label => t("player.invite_claim.button"), :class => "btn btn-primary btn-sm" }) }) %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-3 buttons">
    <div class="text-right">
      <%= render partial: "follow_button", locals: { target: @player } %>
      <%= link_to t("actions.edit"), edit_player_path(@player), :class => "btn btn-default btn-sm" if can?(:edit, @player) %>
      <p></p>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  $(function() {
    $(".nav-tabs a").click(function(e) {
      e.preventDefault();
      $(this).tab("show");
    });
    $(".nav-tabs a:first").tab("show");
  });
<% end %>

<hr>

<div class="row main">
  <ul class="nav nav-tabs">
    <li><%= link_to ActivityFeedItem.model_name.human.pluralize, "#feed", :data => {:toggle => "tab" } %></li>
    <li><%= link_to Game.model_name.human.pluralize, "#games", :data => {:toggle => "tab" } %></li>
    <li><%= link_to "#fans", :data => {:toggle => "tab" } do %>
      <%= t("header", :scope => "followers", :name => @player.name) %>
        <span class="badge"><%= @player.followers.count %></span>
      <% end %>
    </li>
  </ul>

  <div class="tab-content col-xs-12">
    <div class="tab-pane active fade in" id="feed">
      <%= render :partial => "activity_feed", :locals => { :feed_items => ActivityFeedItem.for(@player), :to => @player, :owner => @player.user, :hide_header => true } %>
    </div>
    <div class="tab-pane fade" id="games">
      <%= render :partial => "games", :locals => { :games => @player.games, :compact => true } %>
    </div>
    <div class="tab-pane fade" id="fans">
      <%= render :partial => "followers", :locals => {:target => @player, :hide_header => true } %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= render :partial => "mini_sign_up" unless current_user %>
  </div>
</div>
