<% title [@player.name, @player.team.name, @player.team.league.name].join(" - ") %>

<h3>Player: <%= @player.name %>
  <%= render partial: "follow_button", locals: { target: @player } %>
</h3>

<%= format_player_link(@player) %>

<h4>Team: <%= format_team_link(@player.team) %></h4>

<div>
  <%= cl_image_tag(@player.photo.url(:small)) %>
</div>

<% if @player.user %>
  <p><%= t("player.belongs_to_html", { :user => format_user_link(@player.user) }) %></p>
<% elsif current_user %>
  <% if can?(:create, Invitation.new(:target => @player)) %>
    <p>
      <%= t("player.invite_claim.prompt_html", { :invite => invitation_button(:claim, @player, t("player.invite_claim.button")) }) %>
    </p>
  <% else %>
    <p>
      <%= t("player.claim.prompt_html", { :claim => link_to(t("player.claim.button"), new_player_claims_path(@player), :class => "btn btn-small") } ) %>
    </p>
  <% end %>
<% end %>

<%= render :partial => "activity_feed", :locals => { :activity_feed_items => ActivityFeedItem.for(@player), :in_game_context => false } %>

<% link_to "Edit", edit_player_path(@player), :class => "btn" if can?(:edit, @player) %>

