<% if @game %>
  <% content_for(:head) do %>
    <%= javascript_include_tag AsyncMessaging::FAYE_CONFIG[:script] %>
  <% end %>

  <%= javascript_tag do %>
    $(function() {
      App.game = new App.Game(<%= json_for(@game, :methods => [:faye_uri]).html_safe %>);
      App.home_team = <%= @game.home_team.to_json.html_safe %>;
      App.visiting_team = <%= @game.visiting_team.to_json.html_safe %>;
      App.scoreboardView = new App.Scoreboard.ScoreboardView({gameId: <%= @game.id %>, el: "body"});
    });
  <% end %>

  <div style="font-size: 0;" class="fullscreen">
    <canvas class="left" width=1080 height=1920></canvas>
    <canvas class="center" width=1080 height=1920></canvas>
    <canvas class="right" width=1080 height=1920></canvas>
  </div>

<% else %>
  <p>I don't seem to have a game to show you. :-(</p>
<% end %>



