<% content_for(:head) do %>
  <%= javascript_include_tag AsyncMessaging::FAYE_CONFIG[:script] %>
<!--Adobe Edge Runtime-->
    <script type="text/javascript" charset="utf-8" src="/assets/edge/GOAL%20ANIME_edgePreload.js"></script>
    <style>
        .edgeLoad-EDGE-404308 { visibility:hidden; }
    </style>
<!--Adobe Edge Runtime End-->
<!--Adobe Edge Runtime-->
    <script type="text/javascript" charset="utf-8" src="/assets/edge/PlayerAnimation_edgePreload.js"></script>
    <style>
        .edgeLoad-EDGE-278437879 { visibility:hidden; }
    </style>
<!--Adobe Edge Runtime End-->

  <%= javascript_tag do %>
    $(function() {
      App.game = new App.Game(<%= json_for(@game, :methods => [:faye_uri]).html_safe %>);
      App.players = new App.Players(<%= json_for(@game.players).html_safe %>, <%= {gameId: @game.id}.to_json.html_safe %>);
      App.penalties = new App.Penalties(<%= json_for(@game.penalties).html_safe %>, <%= {gameId: @game.id}.to_json.html_safe %>);
      App.goals = new App.Goals(<%= json_for(@game.goals.includes(:players)).html_safe %>, <%= {gameId: @game.id}.to_json.html_safe %>);
      App.feedItems = new App.FeedItems(<%= json_for(@game.activity_feed_items).html_safe %>, {gameId: <%= @game.id %>});
      var views = [];
      views.push(new App.Scoreboard.GameView({model: App.game, el: "#game-board"}));
      views.push(new App.Scoreboard.GoalAnimationView({ el: "#team-goal-animation" }));
      views.push(new App.Scoreboard.ReplayView( { el: "#goal-replay" }));
      views.push(new App.Scoreboard.PlayerGoalView( { el: "#player-goal-animation" }));
      App.boardView = new App.Scoreboard.BoardView({el: ".content", views: views, defaultView: views[0]});
    });
  <% end %>

<% end %>

<!--

<%= "This is for game #{@game.id}" %>

-->


<div id="game-board">
  <div class="visiting-team one-third text-center">
    <p class="score"></p>
    <p class="team-city"><span><%= @game.visiting_team.city %></span></p>
    <div class="logo"><%= cl_image_tag @game.visiting_team.logo.url(:medium) %></div>
    <p class="team-name"><span><%= @game.visiting_team.name %><span></p>
  </div>

  <div class="one-third text-center">
    <p class="clock">
    <div class="period-label-and-number">
      <p class="period-label"><%= t("activerecord.attributes.game.period") %></p>
      <p class="period"></p>
    </div>
  </div>

  <div class="home-team one-third text-center">
    <p class="score"></p>
    <p class="team-city"><span><%= @game.home_team.city %></span></p>
    <div class="logo"><%= cl_image_tag @game.home_team.logo.url %></div>
    <p class="team-name"><span><%= @game.home_team.name %><span></p>
  </div>
</div>

<div id="team-goal-animation" class="EDGE-404308">
</div>

<div id="goal-replay">
  <video></video>
</div>

<div id="player-goal-animation" class="EDGE-278437879">
</div>
