<% feed_items = defined?(context) && context ? ActivityFeedItem.for(context) : ActivityFeedItem.for_user(current_user) %>
<% feed_items = feed_items.limit(10 + 1).all %>
<% more = feed_items.count > 10 %>
<% feed_items.pop if more %>

<% if current_user || feed_items.any? %>
  <% unless defined?(hide_header) && hide_header %>
    <h3><%= ActivityFeedItem.model_name.human.pluralize %></h3>
  <% end %>

  <div class="activity-feed">
    <% new_item ||= Feed::UserPost.new %>
    <% if current_user %>
      <%= form_for(new_item, :remote => true, :class => "form-inline") do |f| %>
        <div class="form-group">
          <%= f.label :message, :class => "sr-only" %>
          <div class="input-group">
            <%= f.text_field :message, :class => "form-control", :autocomplete => "off", :placeholder => t("activity_feed.placeholder") %>
            <span class="input-group-btn">
              <%= f.submit t("activity_feed.post"), :class => "btn btn-primary" %>
            </span>
          </div>
        </div>

        <%= f.hidden_field :game_id, :value => f.object.game.to_param %>
        <% if defined?(context) && context != current_user && !context.is_a?(Game) %>
          <%= f.hidden_field :target_type, :value => context.class.to_s %>
          <%= f.hidden_field :target_id, :value => context.to_param %>
        <% end %>
        <% if defined?(owner) && owner %>
          <%= hidden_field_tag :owner_id, owner.to_param %>
        <% end %>
      <% end %>
    <% end %>

    <% if feed_items.any? %>
      <% feed_items.each do |item| %>
        <%= render :partial => "feed_item", :locals => {:item => item, :owner => defined?(owner) ? owner : nil } %>
      <% end %>
      <%
        opts = {:last_date => feed_items.last.order_date }
        opts.merge!({:context_type => context.class.to_s, :context_id => context.to_param}) if defined?(context)
        opts.merge!({:owner_id => owner.to_param}) if defined?(owner)
      %>
      <%= link_to t("activity_feed.more"), feed_items_path(opts), :class => "btn btn-default more", :remote => true, :data => {:disable_with => t("activity_feed.loading")} if more %>
    <% end %>
  </div>
<% end %>
