<% if current_user || feed_items.any? %>
  <h3><%= ActivityFeedItem.model_name.human.pluralize %></h3>

  <div class="activity-feed">
    <% new_item ||= Feed::UserPost.new %>
    <% if current_user %>
      <%= form_for(new_item, :remote => true) do |f| %>
        <div class="form-group pull-left" style="margin-right: 10px;" >
          <%= f.label :message, :class => "sr-only">
          <%= f.text_field :message, :class => "col-md-7", :placeholder => t("activity_feed.placeholder") %>
        </div>

        <%= f.hidden_field :game_id, :value => f.object.game.to_param %>
        <% if defined?(to) %>
          <%= f.hidden_field :target_type, :value => to.class.to_s %>
          <%= f.hidden_field :target_id, :value => to.to_param %>
        <% end %>

        <div class="actions">
          <%= f.submit t("activity_feed.post"), :class => "btn btn-primary" %>
        </div>
      <% end %>
    <% end %>

    <% if feed_items.any? %>
      <% feed_items.limit(10).each do |item| %>
        <%= render :partial => "feed_item", :locals => {:item => item } %>
      <% end %>
    <% end %>
  </div>
<% end %>
