<% owner_class = (defined?(owner) && item.respond_to?(:creator) && owner == item.creator) ? "owner" : "" %>

<div class="feed-item <%= owner_class %>">
  <%= cl_image_tag(item.avatar_url(:thumbnail), :class => "avatar") %>
  <p>
    <% if item.respond_to?(:creator) %>
      <span class="creator"><%= item.creator.name %></span>
      <%= format_user_link(item.creator, {}, :class => "text-muted") %>
    <% end %>
    <span class="created-at text-muted"><%= timeago_tag item.created_at %></span>
    <% if item.game && !(defined?(in_game_context) && in_game_context) %>
      <small><i>in <%= link_to "#{item.game.home_team.name} vs. #{item.game.visiting_team.name}", item.game %></i></small>
    <% end %>
  </p>
  <p><%= format_message_with_usernames(item.message).html_safe %></p>
  <% if item.videos.any? %>
    <p class="videos">
      <% item.videos.each do |video| %>
        <% if current_user %>
          <%= link_to(image_tag(video.thumb_url), "#", :class => "video-thumb", :data => {:url => video_path(video) }) %>
        <% else %>
          <%= link_to(image_tag(video.thumb_url), new_user_session_path, :class => "video-thumb") %>
        <% end %>
      <% end %>
    </p>
  <% end %>
  <% unless defined?(reply) && reply %>
    <div class="replies">
      <% item.children.reverse.each do |reply| %>
        <%= render :partial => "feed_item", :locals => {:item => reply, :reply => true, :owner => defined?(owner) ? owner : nil } %>
      <% end %>
    </div>
    <% if current_user %>
      <div class="row">
        <%= form_for(Feed::UserPost.new, :remote => true) do |f| %>
          <div class="form-group">
            <%= f.label :message, :class => "sr-only" %>
            <div class="col-md-7">
              <%= f.text_field :message, :class => "form-control", :placeholder => t("activity_feed.enter_your_reply") %>
            </div>
          </div>

          <%= f.hidden_field :parent_id, :value => item.to_param %>
          <%= hidden_field_tag :reply, true %>
          <%= hidden_field_tag :owner_id, owner.id if defined?(owner) && owner %>

        <% end %>
      </div>
    <% end %>
    <div class="share-links">
      <%= link_to "#", :class => "reply-link" do %>
        <%= t("activity_feed.reply") %> <i class="icon-reply"></i>
      <% end %>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= Rails.env.production? ? feed_item_url(item) : "https://bigshot.io/" %>" data-count="none" data-hashtags="bigshot" data-lang="<%= I18n.locale %>" data-text="<%= raw format_message_text_only(item.message) %>">Tweet</a>
      <div class="fb-share-button" data-href="<%= Rails.env.production? ? feed_item_path(item) : "https://bigshot.io/" %>" data-type="button"></div>
    </div>

  <% end %>
</div>
