<h3><%= Game.model_name.human.pluralize %>
<% if defined?(new_game_path) && new_game_path.present? %>
    <%= link_to "Schedule a new game", new_game_path, :class => "btn" %>
<% end %>
</h3>

<% games = games.without_deleted.not_canceled %>

<% if games.any? %>
  <table class="games table table-hover">
    <tr>
      <th><%= Game.human_attribute_name(:start_time) %></th>
      <th>#</th>
      <th></th>
      <th><%= Game.human_attribute_name(:visiting_team) %></th>
      <th></th>
      <th><%= Game.human_attribute_name(:home_team) %></th>
      <th></th>
      <th><%= Game.human_attribute_name(:period) %></th>
      <th>Location</th>
      <th></th>
    </tr>

    <% games = games.reverse if defined?(reverse) %>
    <% games.each do |game| %>
      <tr class="<%= game.state %>">
      <td><%= l game.start_time, :format => :game %></td>
      <td><%= game.number %></td>
      <td class="visitor-name"><%= format_team_link(game.visiting_team) %></td>
      <td><%= link_to(image_tag(game.visiting_team.logo_url(:thumbnail)), game.visiting_team) %></td>
      <td class="score">
        <%= link_to game do %>
          <% if game.scheduled? %>
          <i>vs</i>
      <% else %>
          <%= "#{game.visiting_team_score}&nbsp;-&nbsp;#{game.home_team_score}".html_safe %>
      <% end %>
      <% end %>
      </td>
      <td><%= link_to(image_tag(game.home_team.logo_url(:thumbnail)), game.home_team) %></td>
      <td><%= format_team_link(game.home_team) %></td>
      <td class="period"><%= game.period_text %></td>
      <td>
        <%= link_to game.location.name, game.location %>
        <%= link_to game.location.map_url, :target => "_blank" do %>
          <%= image_tag "google-maps-icon-blank.svg", :class => "map-icon", :target => "_blank" %>
      <% end %>
      </td>
      <td style="text-align: right;">
        <%= link_to t("games.see_game"), game, :class => "btn" %>
        <%= link_to(t("Edit game"), edit_path.call(game), :class => "btn") if defined?(edit_path) && can?(:edit, game) %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>
