<h3><%= t(".header") %></h3>

<%= form_for(User.new, :url => registration_path("user")) do |f| %>
  <div>
    <%= f.text_field :name, :placeholder => t("activerecord.attributes.user.name") %>
  </div>

  <div>
    <%= f.email_field :email, :placeholder => t("activerecord.attributes.user.email") %>
  </div>

  <div>
    <%= f.password_field :password, :placeholder => t("activerecord.attributes.user.password") %>
  </div>

  <%= f.hidden_field :mini, :value => true %>

  <div><%= f.submit t('.sign_up', :default => "Sign up"), :class => "btn btn-warning" %></div>
<% end %>


