<h3><%= t(".header") %></h3>

<%= form_for(User.new, :url => session_path("user")) do |f| %>
  <div class="form-group">
    <%= f.label :email, :class => "sr-only" %>
    <%= f.email_field :email, :class => "form-control", :autofocus => true, :placeholder => t("activerecord.attributes.user.email") %>
  </div>

  <div class="form-group">
    <%= f.label :password, :class => "sr-only" %>
    <%= f.password_field :password, :class => "form-control", :placeholder => t("activerecord.attributes.user.password") %>
  </div>

  <div class="checkbox" style="height:40px;">
    <%= f.label :remember_me do %>
      <%= f.check_box :remember_me, :checked => true %>
      <%= t("devise.sessions.new.remember_me", :default => "Remember me") %>
    <% end %>
  </div>

  <div><%= f.submit t('devise.sessions.new.sign_in', :default => "Sign in"), :class => "btn btn-primary" %></div>
<% end %>

