<div class="container footer">
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-3">
      <h4>Company</h4>
      <ul>
        <li><%= link_to t(".about"), about_path %></li>
        <li><%= link_to t(".terms"), terms_path %></li>
        <li><%= link_to t(".privacy"), privacy_path %></li>
      </ul>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-3">
      <h4>Areas</h4>
      <ul>
        <li><%= link_to t(".leagues"), leagues_path %></li>
        <li><%= link_to t(".teams"), teams_path %></li>
        <li><%= link_to t(".locations"), locations_path %></li>
      </ul>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-3">
      <h4>Support</h4>
      <ul>
        <li><%= link_to t(".contact"), contact_path %></li>
      </ul>
    </div>
    <div class="col-xs-12 copyright">
      <p>&copy; 2014 8680884 Canada Inc. All rights reserved.</p>
    </div>
  </div>
</div>
