<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

  <%= link_to image_tag("bigshot-logo-crop.png"), root_path, :class => "navbar-brand" %>
</div>

<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li>
        <p class="navbar-text"><%= t('navigation.greeting') %>, <%= format_user_link(current_user) %>. </p>
      </li>
      <li class="dropdown">
        <%= link_to raw('<span class="glyphicon glyphicon-cog"><b class="caret"></b>'), "#", :data => {:toggle => "dropdown" } %>
        <ul class="dropdown-menu">
          <li><%= link_to(t('navigation.edit_account'), edit_user_registration_path) %></li>
          <li><%= link_to(t('navigation.sign_out'), destroy_user_session_path, :method=>'delete') %></li>
        </ul>
      </li>
    <% else %>
      <li><%= link_to(t('navigation.sign_in'), new_user_session_path)  %></li>
      <li><%= link_to(t('navigation.sign_up'), new_user_registration_path)  %></li>
    <% end %>
  </ul>
  <% unless params[:controller] == "search_results" %>
    <%= form_tag(search_index_path, :method => :get, :class => "navbar-form") do %>
      <div class="form-group" style="display: inline;">
        <div class="input-group">
          <span class="input-group-addon"><span class="icon icon-search"></span></span>
          <%= text_field_tag :q, nil, :class => "form-control", :placeholder => t("search_results.index.placeholder")  %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
