<%= link_to "MyGameShot", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <% if can? :edit, League %>
      <li>
        <%= link_to "Leagues", leagues_path %>
      </li>
    <% end %>
    <% if can? :edit, Team %>
      <li>
        <%= link_to "Teams", teams_path %>
      </li>
    <% end %>
    <li>
      <p class="navbar-text">Hello, <%= format_user_link(current_user) %>. </p>
    </li>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to('Edit account', edit_user_registration_path) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Sign up', new_user_registration_path)  %>
    </li>
  <% end %>
</ul>
